.landing

	> article.splash
		background rgba(0, 0, 0, 0.03)
		border-radius 4px
		box-shadow inset 0px 0px 0px 1px #d0d0d0,
			0px 1px 0px 0px rgba(255, 255, 255, 1),
			inset 0px 1px 3px 0px rgba(0, 0, 0, 0.2)
		overflow hidden
		padding 20px
		width 100%
		figure
			border 1px solid #aaa
			display inline-block
			float left
			font-size 0
			height 300px
			margin 0 20px 0 0
			width 400px
			video
				background #666
				height 100%
				width 100%
		h1
			text-transform uppercase
			font-weight 700
			margin 15px 0
		#call-to-action
			background url('../img/bg_btn_orange.png') repeat-x
			color white
			font-size 1.5rem
			font-weight 700
			display inline-block
			line-height 2em
			padding 0 25px
			border-radius 5px
			box-shadow 0 0 3px #BBB
			text-shadow 0 0 3px #666

	> address
		padding 20px 0
		text-align right

	> article.about
		padding 0 0 20px 0
		div
			display inline-block
			width 310px
			vertical-align top
			h2
				font-weight 700
			&:nth-child(2n)
				margin 0 10px
