// TODO

ul#profile-likes
ul#profile-quotes
ul#profile-questionnaire
	display: block
	color: red
	font-size: 12px

ul#profile-likes li
ul#profile-quotes li
ul#profile-questionnaire li
	display: default
	width: 328px
	float: left
	padding-bottom: 10px
	
ul#profile-likes li em
ul#profile-quotes li em
ul#profile-questionnaire li em
	font-weight: bold
	font-style: normal
