<!-- USER PREVIEW MODULE MEDIUM -->
<div class="user-preview medium">
	<img src="./dummy/user1.png" alt="Picture of Jenny Schecter" />
	<a href="javascript:alert('opens the user profile page');window.location.assign('profile-friend.html');" title="Link to the profile page of Jenny Schecter">Jenny Schecter</a>
	<p class="al">aged 41, in Singapore</p>
	<p class="likes"><em>Likes:</em> Twilight, Justin Bieber, Drag Racing, Fusce Elit, Malesuada, Ullam</p>
	<p class="about">
		Maecenas faucibus mollis interdum? Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.
		<a href
	<a href="javascript:alert('opens the user profile page');window.location.assign('profile-friend.html');" title="Read more aboutJenny Schecter">&hellip;see more</a>
</div>
