{{#firstVisit}}
<section class="panel alerts-welcome">
	<header>
		<h1>Welcome to FreyaLove</h1>
	</header>
	<article>
		<p>Everyone deserves the right kind of love whether you are straight, gay, bi-sexual or a lesbian and whether you are Black, White, Hispanic or Asian. Love comands equalty and respect.</p>

		<p>FreyaLove is created to help lesbians find the right kind of love we deserve with like-minded individuals and seek lots of fun along the way.</p>

		<p>There is no other virtual match making service like FreyaLove.</p>

		<p>It was founded by a true love enthusiast who believe there is someone special out there for everyone. Personally, I had been seeking HER until a good friend became my match maker and we have been together for several months now.</p>

		<p>Match making works! Friends know you best. You might not believe this but in fact, friends know you more than you know yourself. You might raise your eyebrows to this statement but not all of your friends know you; only true and good friends perhaps?</p>

		<p>We use friends’ recommendations combined with their rapid cognitive ability to get quality and fun love. FreyaLove believes that every lesbian deserves a quality match! That's what our belief is.</p>

		<p>Have a blast!<br />
		CEO and Founder<br />
		Karen Lee</p>
	</article>
</section>
{{/firstVisit}}