{{!#firstVisit}}
<section class="panel alerts-welcome">
	<header>
		<h1>Hello, welcome to FreyaLove</h1>
	</header>
	<article>
		<p>I'm Karen Lee, founder of FreyaLove. I want to help lesbians find the love we deserve.</p>

		<p>I used to waste time on dating sites, but found serious partners hard to come by. Until a good friend became my personal match maker. She truly understood my personality and interests, and introduced me to her best suited friends.</p>

		<p>Match making works because friends know you best. With FreyaLove you can escape the dating site mess and find true love through match making. Enjoy!</p>

		<p>Love xxx<br />
		Karen</p>
	</article>
</section>
{{!/firstVisit}}