.matches-comparison
	font-size 1rem

	> .introduce
		text-align center
		margin 0 0 40px 0
		> h3
			// display block
			display none
			color #a63e00
			font-size 1.875rem //30px
			font-weight bold
			margin 0 0 0.5em 0
		> .button
			display block
			margin-left auto
			margin-right auto
			width 40%