.dialog > section.matches-introduce
	width 600px
	article
		figure
			background-image url(../img/btn_match.png)
			background-position center 40px, center
			background-repeat no-repeat
			text-align center
			div
				background-color (rgba(246, 246, 246, 0.69)/2 + #dadada/2)
				background-image linear-gradient(bottom, @background-color, (rgba(246, 246, 246, 0.69)/2 + white/2))
				box-shadow inset 0px 1px 0px 0px white,
					0px 1px 3px 0px rgba(0, 0, 0, 0.29)
				margin-bottom 15px
				display inline-block
				font-size 0
				padding 10px
				&:first-child
					margin-right 60px
				&:last-child
					margin-left 60px
				img
					height 100px
					width 100px
				h5
					display none
	footer
		.button.primary
			padding-left 30px
			padding-right 30px