<section class="header-menu">
	<div class="wrapper">
		<h1>
			<a href="/dashboard" title="Home">FreyaLove</a>
		</h1>
		<nav>
			<menu>
				<li>
					<a href="#" class="notifications" title="Notifications">Notifications</a>
					<section class="bblm-notifications-menu"></section>
				</li>
				<li>
					<a href="#" class="conversations" title="Conversations">Conversations</a>
					<section class="bblm-conversations-menu"></section>
				</li>
				<li>
					<a href="#" class="sexytimes" title="Dates">Dates</a>
					<section class="bblm-sexytimes-menu"></section>
				</li>
			</menu>
			<form method="get" action="/search">
				<input type="text" maxlength="100" placeholder="Search friends on FreyaLove..." />
			</form>
			<a class="name" href="/profile/{{id}}" title="View my profile">{{name}}</a>
			<a class="signout" href="#" title="Sign out from FreyaLove">Sign out</a>
		</nav>
	</div>
</section>
