<section class="header-menu">
	<div class="wrapper">
		<h1><a href="/dashboard" title="Go to the FreyaLove home">FreyaLove</a></h1>

		<form id="nav-search" method="get" name="nav-search" action="#" role="search">
			<input type="text" maxlength="100" placeholder="Search"/>
		</form>

		<menu id="nav-popups">
			<li><a href="#" class="notifications" title="View notifications"></a></li>
			<li><a href="#" class="conversations" title="View conversations"></a></li>
			<li><a href="#" class="sexytimes" title="View dates"></a></li>
		</menu>

		<a id="nav-name" href="/profile/{{id}}" title="Go to my profile">{{name}}</a>

		<a id="nav-logout" href="#" title="Log out from Freya Love"></a>
	</div>
</section>

<section class="popup" id="popup-notifications">
	<h2>Notifications</h2>
	<ul>
		<li><a href="/profile/{{id}}" title="Link to the profile page of Bette Porter">Bette Porter</a> smiled at you. Smile back.</li>
		<li><a href="/profile/{{id}}" title="Link to the profile page of Bette Porter">Bette Porter</a> smiled at you. Smile back.</li>
		<li><a href="/profile/{{id}}" title="Link to the profile page of Bette Porter">Bette Porter</a> thinks that you would make a great match for <a href="javascript:alert('opens the user profile page');window.location.assign('profile-friend.html');" title="Link to the profile page of Bette Porter">Bette Porter</a>. Respond to introduction.</li>
		<li><a href="/profile/{{id}}" title="Link to the profile page of Bette Porter">Bette Porter</a> smiled at you. Smile back.</li>
	</ul>
</section>

<section class="popup" id="popup-messages">
	<h2>Messages <a href="/inbox" class="see-all" title="See all messages">see all</a></h2>
	<ul>
		<li>
			<a href="/profile/{{id}}" title="Link to the profile page of Bette Porter">Bette Porter</a>:
			Hey Freya, how…
			<span class="timestamp">2 days ago</span>
		</li>
		<li>
			<a href="/profile/{{id}}" title="Link to the profile page of Bette Porter">Bette Porter</a>:
			Hey Freya, how…
			<span class="timestamp">2 days ago</span>
		</li>
		<li>
			<a href="/profile');" title="Link to the profile page of Bette Porter">Bette Porter</a>:
			Hey Freya, how…
			<span class="timestamp">2 days ago</span>
		</li>
		<li>
			<a href="/profile');" title="Link to the profile page of Bette Porter">Bette Porter</a>:
			Hey Freya, how…
			<span class="timestamp">2 days ago</span>
		</li>
	</ul>
</section>

<section class="popup" id="popup-dates">
	<ul>
		<li><a href="/profile/{{id}}" title="Link to the profile page of Bette Porter">Bette Porter</a> wants to meet on Thursday at 3pm at Somerset 313. <a href="javascript:alert('opens the direct reply form below');" title="RSVP to Bette Porter's invitation">RSVP now.</li>
		<li>
			Meet <a href="/profile/{{id}}" title="Link to the profile page of Bette Porter">Bette Porter</a> on Saturday at 3pm at Somerset 313.
			<form id="rsvp" method="get" name="reply" action="#" role="reply">
				<input type="text" maxlength="100" />
				<input type="button" name="Decline" />
				<input type="button" name="Confirm" />
			</form>
		</li>
		<li>
			<a href="/profile/{{id}}" title="Link to the profile page of Bette Porter">Bette Porter</a> declined your invite to meet on Tuesday at 3pm at Somerset 313:
			<p class="comment">Sorry dear, I have a meeting then, I'll send you an invite for Thursday instead.</p>
		</li>
		<li><a href="/profile/{{id}}" title="Link to the profile page of Bette Porter">Bette Porter</a> wants to meet on Thursday at 3pm at Somerset 313.</li>
	</ul>
</section>