<section class="header-menu">
	<div class="wrapper">
		<h1>
			<a href="/dashboard" title="Home">FreyaLove</a>
		</h1>
		<nav>
			<menu>
				<li>
					<a href="#" class="notifications" title="Notifications"
						{{#unreadNotifications}}data-unread="{{unreadNotifications}}"{{/unreadNotifications}}>
						Notifications
					</a>
					<section class="bblm-notifications-menu"></section>
				</li>
				<li>
					<a href="#" class="conversations" title="Conversations"
						{{#unreadConversations}}data-unread="{{unreadConversations}}"{{/unreadConversations}}>
						Conversations
					</a>
					<section class="bblm-conversations-menu"></section>
				</li>
				<li>
					<a href="#" class="sexytimes" title="Dates"
						{{#unreadSexyTimes}}data-unread="{{unreadSexyTimes}}"{{/unreadSexyTimes}}>
						Dates
					</a>
					<section class="bblm-sexytimes-menu"></section>
				</li>
			</menu>
			<form method="get" class="search">
				<input type="text" name="query" maxlength="100" placeholder="Find friends..." />
			</form>
			<a class="name" href="/profile/{{id}}" title="View my profile">{{name}}</a>
			<a class="signout" href="#" title="Sign out">Sign out</a>
		</nav>
	</div>
</section>
