#column-left
	display inline-block
	font-size $base-font-size
	vertical-align top
	width $content-width

	#welcome-message
		width 416px
		float left

	#facebook-ad
		float left
		width 240px

		img
			float left
			width 60px
			height 60px

#column-right
	display inline-block
	font-size $base-font-size
	margin-left 24px
	vertical-align top
	width $sidebar-width - @margin-left

	h2
		padding-bottom 0.5em
		border-bottom 1px solid rgba(0, 0, 0, 0.1)
		box-shadow 0px 1px -1px 1px white
		margin-bottom 0.3em

.friends-list-right
	
//to design
//.dates-upcoming
	
.friends-list-dates
	img
		float left
		width 60px
		height 60px
