Django==1.4.0
South==0.7.5
psycopg2==2.4.5
django-debug-toolbar==0.9.4
django-grappelli==2.3.8
django-extensions==0.9
djangorestframework==0.3.3
facebook-sdk>=0.3.1 #https://github.com/pythonforfacebook/facebook-sdk
requests>=0.13.3
django-notifications-hq>=0.5.2