.carousel
	// > .previous

	// > .next

	// > .bookmarks

	> .viewport
		overflow hidden
		> ol
			white-space nowrap
			> li
				white-space normal
				display inline-block
				vertical-align top
			// &.selected
