.chzn-select
  width 350px
.chzn-container
  font-size 13px
  position relative
  display inline-block
  zoom 1
  *display inline
  .chzn-drop
    background #fff
    border 1px solid #ccc
    border-top 0
    position absolute
    top 32px
    left 0
    box-shadow 0 4px 5px rgba(0,0,0,.15)
    z-index 1010
    ul.chzn-results
      margin 0
      max-height 240px
      padding 0
      position relative
      overflow-x hidden
      overflow-y auto
      -webkit-overflow-scrolling touch
      width 100%
      > li
        display block
        margin 2px 0
        padding 4px
        &:last-child
          margin-bottom 0
        &.result-selected
          display none
      .highlighted
        background-color #3875d7
        color #fff
  .chzn-results-scroll
    background white
    margin 0 4px
    position absolute
    text-align center
    width 321px // This should by dynamic with js
    z-index 1
    span
      display inline-block
      height 17px
      text-indent -5000px
      width 9px
  .chzn-results-scroll-down
    bottom 0
    span
      background url('../img/chosen-sprite.png') no-repeat -4px -3px
  .chzn-results-scroll-up
    span
      background url('../img/chosen-sprite.png') no-repeat -22px -3px

.chzn-container-multi
  .chzn-choices
    background-color #fff
    overflow hidden
    height auto !important
    height 30px
    position relative
    width 400px
    form-input()
    padding 5px 5px 3px 5px
    li
      float left
      list-style none
    .search-field
      white-space nowrap
      margin 0
      padding 0
      input
        border 0 !important
        box-shadow none
        color #444
        font 1rem Bariol, Helvetica, Arial, sans-serif
        height 15px
        margin 3px 0
        outline none
        padding 10px
        &:focus
          box-shadow none
      .default
        color #999
    .search-choice
      border-radius 3px
      background-clip         padding-box
      background-color #e4e4e4
      //background-image linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%)
      box-shadow 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05)
      color #333
      border 1px solid #aaaaaa
      line-height 13px
      padding 3px 20px 3px 5px
      margin 3px 0 3px 5px
      position relative
      cursor default
      .search-choice-close
        display block
        position absolute
        right 3px
        top 4px
        width 12px
        height 13px
        font-size 1px
        background url('../img/chosen-sprite.png') right top no-repeat
      .search-choice-closehover
        background-position right -11px
    .search-choice-focus
      background #d4d4d4
      .search-choice-close
        background-position right -11px
    .chzn-results
      margin -1px 0 0
      padding 0
      li
        display none
        line-height 15px
        padding 5px 6px
        margin 0
        list-style none
        em
          background #feffde
          font-style normal
      .active-result
        cursor pointer
        display block
      .highlighted
        background-color #3875d7
        color #fff
        em
          background transparent
      .no-results
        background #f4f4f4
        display list-item
      .group-result
        cursor default
        color #999
        font-weight bold
      .group-option
        padding-left 15px
  .chzn-drop
    .result-selected
      display none