*
	font-family Bariol, Helvetica, Arial, sans-serif
	box-sizing border-box
	font-weight 400

body
	background url('../img/bg.jpg') #efefef repeat

ul, ol 
	padding 0

.wrapper
	position relative
	width $page-width
	margin 0 auto

.main
	clear both
	font-size 0
	margin-top 35px

hr
	display block
	outline 0
	height 1px
	background-color #e1e1e1
	border none
	box-shadow white 0px 1px 0px 0px

#fb-root
	display none

input
	border 1px solid #333

section.popup
	width 200px
	z-index 5
	position absolute
	top 40px
	background-color grey
	display none

#popup-notifications
	left 680px

#popup-messages
	left 680px

#popup-dates
	left 680px

/*
	Example Usage:
	<a class='button' href='/edit'>Edit</a>
	<a class='button facebook' href='#'>Sign In with Facebook</a>
	<a class='button facebook icon' href='#'>Share</a>
	<a class='button facebook icon like' href='#'>Like</a>
	<a class='button twitter' href='#'>Follow on Twitter</a>
	<a class='button twitter icon' href='#'>Follow on Twitter</a>
 */

button-glow(dim, bright = rgba(255, 255, 255, 0.5))
	text-shadow 0px 1px 0px dim
	&:hover
		text-shadow 0px 0px 10px bright,
			0px 1px 0px dim

button-border(stroke, inner-shadow, drop-shadow)
	box-shadow inset 0px 0px 0px 1px stroke,
		inset 0px 2px 0px 0px inner-shadow,
		0px 1px 3px 0px drop-shadow

button-face(base, pattern, color)
	background-color base
	background-image pattern
	color color

.button
	background-repeat repeat-x
	border-radius 3px
	display inline-block
	padding 5px 14px
	vertical-align middle
	button-face(#dddddd, url('../img/bg_btn_white.jpg'), black)
	button-border(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.25))
	button-glow(rgba(255, 255, 255, 0.2))
	margin 0 0 2px 0
	&:active
		margin 2px 0 0 0
	&.facebook
		button-face(#3e578d, url('../img/bg_btn_fb.jpg'), white)
		button-border(rgba(63, 88, 142, 1), rgba(255, 255, 255, 0.33), rgba(0, 0, 0, 0.29))
		button-glow(rgba(0, 0, 0, 0.2))
	&.twitter
		button-face(#1e99d8, url('../img/bg_btn_tw.jpg'), white)
		button-border(rgba(75, 165, 200, 1), rgba(160, 221, 236, 1), rgba(0, 0, 0, 0.29))
		button-glow(rgba(0, 0, 0, 0.2))
	&.icon
		padding-left 3px
		&.facebook:before
			background-image url('../img/icn_fb.png')
		&.twitter:before
			background-image url('../img/icn_tw.png')
		&.like:before
			background-image url('../img/icn_like.png')
	&.icon:before
		/* glow, shadow */
		box-shadow 1px 0px 0px 0px rgba(255, 255, 255, 0.15),
			2px 0px 0px 0px rgba(0, 0, 0, 0.1)
		background center no-repeat
		content ' '
		display inline-block
		height 14px
		margin -2px 11px 0 0
		vertical-align middle
		width 21px
