*
	font-family Bariol, Helvetica, Arial, sans-serif
	box-sizing border-box
	font-weight 400

body
	background url('../img/bg.jpg') #efefef repeat

ul, ol
	padding 0

.wrapper
	position relative
	width $page-width
	margin 0 auto

.main
	clear both
	font-size 0
	margin-top 35px

#fb-root
	display none

.column-left
	display inline-block
	vertical-align top
	width $content-width
	header h2
		display block
		font-weight 700
		margin 1em 0
		text-align center

.bblm-sidebar-panels
	display inline-block
	margin-left 24px
	vertical-align top
	width $sidebar-width - @margin-left
