@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro);

@font-face
	font-family 'Bariol'
	src url('../fonts/bariol_bold.eot')
	src url('../fonts/bariol_bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/bariol_bold.woff') format('woff'),
		 url('../fonts/bariol_bold.ttf') format('truetype'),
		 url('../fonts/bariol_bold.svg#BariolBold') format('svg')
	font-weight 700 /* bold */
	font-style normal

@font-face
	font-family 'Bariol'
	src url('../fonts/bariol_regular.eot')
	src url('../fonts/bariol_regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/bariol_regular.woff') format('woff'),
		 url('../fonts/bariol_regular.ttf') format('truetype'),
		 url('../fonts/bariol_regular.svg#BariolRegular') format('svg')
	font-weight 400 /* normal */
	font-style normal

@font-face
	font-family 'Bariol'
	src url('../fonts/bariol_light.eot')
	src url('../fonts/bariol_light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/bariol_light.woff') format('woff'),
		 url('../fonts/bariol_light.ttf') format('truetype'),
		 url('../fonts/bariol_light.svg#BariolLight') format('svg')
	font-weight 200
	font-style normal

@font-face
	font-family 'Bariol'
	src url('../fonts/bariol_thin.eot')
	src url('../fonts/bariol_thin.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/bariol_thin.woff') format('woff'),
		 url('../fonts/bariol_thin.ttf') format('truetype'),
		 url('../fonts/bariol_thin.svg#BariolThin') format('svg')
	font-weight 100
	font-style normal
