.match-left, .match-right, .match-center
	float left
.match-left, .match-right
	width 440px
	img
		width 320px
.match-center
	width 64px

#match-button
	width 200px
	margin 0 auto

.match-section
	width: 100%
	tr th
		background-color #aaa
		height 100%
	td
		padding-bottom 20px
	tr
		&:nth-child(4n+1), &:nth-child(4n)
			background-color #ddd