div#column-left ul#messaging-tabs li {
	display: block;
	background: #ccc;
	border: 1px solid #999;
	padding: 5px 20px;}

div#column-left a.button {
	clear: none;
	float: right;
	width: 200px;}
	
div#column-left div#messaging-controls {
	clear: both;
	background-color: grey;}
div#column-left div#messaging-controls input {
	background-color: white;
	border: 1px solid grey;}

div#column-left div.message-summary {
	clear: both;
	margin-bottom: 20px;}
div#column-left div.message-summary a.message-link {
	display: block;}
div#column-left div.message-summary img {
	width: 60px;
	float: left;}
div#column-left ul.message-actions {
	float: right;
	z-index: 1;}
div#column-left ul.message-actions a {
	display: block;
	width: 30px;
	height: 30px;
	background-color: #eee;
	border: 1px solid #ddd;}
	
div#column-left div.message img {
	width: 60px;}
div#column-left div.message p {
	left: 80px;
	top: -60px;
	width: 520px;}
	
div#column-left div#message-reply {
	left: 80px;
	width: 520px;
	background-color: #eee;}