body
	font-size 16px //12pt
	line-height 1.25  // 20 px

h1, h2, h3, h4, h5, h6
	margin 0
	display inline-block
h1
	font-size 1.875rem //30px
	color #a63e00
h2
	font-size 1.5rem //24px
	text-transform uppercase
	color #62228f
h3
	font-size 1.25rem //20px
	color #3f0a49
h4
	font-size 1.125rem //18px
	color #000
h5
	font-size 1rem //16px
	color #444
h6
	font-size 0.875rem //14px
	color #666	
p
	font-size 1rem //16px
	color #444
a
	color #a63e00
	text-decoration none
	&.see-more
		text-transform none
		margin 0.4rem 0 0 0.3rem
		float right
		font-size 0.875rem //14px
		&:link, &:visited
			text-decoration none
		&:hover, &:active
			text-decoration underline

	.button
		clear both
		color white
		height 2em
		text-align center
		display block
		background-color blue
		border 1px solid black

ul
	display inline-block
	li
		display inline-block


	.carousel
		width 100px
		margin 0 auto
		height 20px
		background-color grey
		clear both		