body
	font-size 16px //12pt
	line-height 1.25 // 20px

h1, h2, h3, h4, h5, h6
	margin 0
	display inline-block
h1
	font-size 1.875rem //30px
	color #a63e00
h2
	font-size 1.5rem //24px
	text-transform uppercase
	color #62228f
h3
	font-size 1.25rem //20px
	color #3f0a49
h4
	font-size 1.125rem //18px
	color #000
h5
	font-size 1rem //16px
	color #444
h6
	font-size 0.875rem //14px
	color #666
p
	font-size 1rem //16px
	color #444
a
	color $hyperlink
	text-decoration none
	font-weight bold

.empty
	color #666
	font-size 0.875rem
	font-style italic

.button
	font-style normal
	font-size 1rem //16px
	font-weight bold
	&.social
		font-style normal
		font-size 0.875rem //14px
		font-weight bold

ul
	display inline-block
	li
		display inline-block

	.carousel
		width 100px
		margin 0 auto
		height 20px
		background-color grey
		clear both