// Colors
$purple = #62228f
$purpledark = #3f0a49
$brown = #9f3647
$redbright = #db4648

// Color semantics
$hyperlink = $brown

// Dimensions
$page-width = 960px
$content-width = 672px
$sidebar-width = ($page-width - $content-width)