<a href="#" class="button secondary" title="Answer more questions">Answer more questions</a>
<ul id="profile-about">
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>About Me</h3>
		<p class="text-answer"><strong>My answer:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<p class="text-answer"><strong>My ideal partner's answer:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<p class="text-answer"><strong>Amy's answer:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<p class="text-answer"><strong>My thoughts:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-b">
		<label for="toggle-b"></label>
		<h3>Who am I?</h3>
		<p class="text-answer"><strong>My answer:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<p class="text-answer"><strong>Amy's answer:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-c">
		<label for="toggle-c"></label>
		<h3>What I do as a human being?</h3>
		<p class="text-answer"><strong>My answer:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<p class="text-answer"><strong>Amy's answer:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-d">
		<label for="toggle-d"></label>
		<h3>What I am awesome at?</h3>
		<p class="text-answer"><strong>My answer:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<p class="text-answer"><strong>Amy's answer:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-e">
		<label for="toggle-e"></label>
		<h3>What I suck at?</h3>
		<p class="text-answer"><strong>My answer:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<p class="text-answer"><strong>Amy's answer:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-f">
		<label for="toggle-f"></label>
		<h3>My friends would describe me as...</h3>
		<p class="text-answer"><strong>My answer:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<p class="text-answer"><strong>Amy's answer:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-g">
		<label for="toggle-g"></label>
		<h3>My hobbies and interests are...</h3>
		<p class="text-answer"><strong>My answer:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<p class="text-answer"><strong>Amy's answer:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-h">
		<label for="toggle-h"></label>
		<h3>My favourite books are...</h3>
		<p class="text-answer"><strong>My answer:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<p class="text-answer"><strong>Amy's answer:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-i">
		<label for="toggle-i"></label>
		<h3>The movies I find worthwhile watching...</h3>
		<p class="text-answer"><strong>My answer:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<p class="text-answer"><strong>Amy's answer:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-j">
		<label for="toggle-j"></label>
		<h3>What I am looking for...</h3>
		<p class="text-answer"><strong>My answer:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<p class="text-answer"><strong>Amy's answer:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-k">
		<label for="toggle-k"></label>
		<h3>I am a...</h3>
		<p class="text-answer"><strong>My answer:</strong> Queer</p>
		<p class="text-answer"><strong>Amy's answer:</strong> MTF</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-l">
		<label for="toggle-l"></label>
		<h3>I am looking for...</h3>
		<p class="text-answer"><strong>My answer:</strong> Dates</p>
		<p class="text-answer"><strong>Amy's answer:</strong> Casual encounters</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-m">
		<label for="toggle-m"></label>
		<h3>I am ...</h3>
		<p class="text-answer"><strong>My answer:</strong> Matchmaker</p>
		<p class="text-answer"><strong>Amy's answer:</strong> Both a Matchmaker and someone who wants to be matched</p>
		<a href="#" class="retake">retake</a>
	</li>
</ul>