<a href="#" class="button secondary" title="Answer more questions">Answer more questions</a>
<ul id="profile-background">
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Education</h3>
		<p><strong>My answer:</strong> Home School</p>
		<p><strong>Her answer:</strong> University</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-b">
		<label for="toggle-b"></label>
		<h3>Work</h3>
		<p><strong>My answer:</strong> Part-time</p>
		<p><strong>Her answer:</strong> Freelance</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-b">
		<label for="toggle-b"></label>
		<h3>Occupation</h3>
		<p><strong>My answer:</strong> Administrative, Secretarial</p>
		<p><strong>Her answer:</strong> Legal</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-b">
		<label for="toggle-b"></label>
		<h3>Astrological Sign</h3>
		<p><strong>My answer:</strong> Taurus</p>
		<p><strong>Her answer:</strong> Sagittarius</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-b">
		<label for="toggle-b"></label>
		<h3>Income</h3>
		<p><strong>My answer:</strong> 50,000 - 75,000</p>
		<p><strong>Her answer:</strong> 50,000 - 75,000</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-b">
		<label for="toggle-b"></label>
		<h3>Pets</h3>
		<p><strong>My answer:</strong> Rabbits</p>
		<p><strong>Her answer:</strong> Exotic pet</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
</ul>