<a href="#" class="button secondary" title="Answer more questions">Answer more questions</a>
<ul id="profile-lifestyle">
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Diet</h3>
		<p><strong>My answer:</strong> Vegetarian</p>
		<p><strong>Mia's answer:</strong> Halal</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-b">
		<label for="toggle-b"></label>
		<h3>Smoking</h3>
		<p><strong>My answer:</strong> Attempting to quit</p>
		<p><strong>Mia's answer:</strong> Socially</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-c">
		<label for="toggle-c"></label>
		<h3>Drinking</h3>
		<p><strong>My answer:</strong> Regularly</p>
		<p><strong>Mia's answer:</strong> No at all</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-d">
		<label for="toggle-d"></label>
		<h3>Religion</h3>
		<p><strong>My answer:</strong> Atheist</p>
		<p><strong>Mia's answer:</strong> Muslim</p>
		<a href="#" class="retake">retake</a>
	</li>
</ul>