<p>{{likes}}</p>

<ul id="profile-likes">
	<li><em>Music:</em>{{likeMusic}}</li>
	<li><em>Books:</em>{{likeBooks}}</li>
	<li><em>Movies:</em>{{likeMovies}}</li>
	<li><em>Television:</em>{{likeTv}}</li>
	<li><em>Games:</em>{{likeGames}}</li>
	<li><em>Athletes:</em>{{likeAthletes}}</li>
	<li><em>Sports Teams:</e{{likeSportsTeams}}</li>
	<li><em>Sports:</em>{{likeSports}}</li>
	<li><em>Activities:</em>{{likeActivities}}</li>
	<li><em>Interests:</em>{{likeInterests}}</li>
	<li><em>Inspirational People:</e{{likePeople}}</li>
</ul>