<p>from Facebook...</p>

<ul id="profile-likes">
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Music</h3>
		<p>Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Commodo, Sit Elit Sem.</p>
	</li>
	<li>
  	<input type="checkbox" id="toggle-b">
		<label for="toggle-b"></label>
		<h3>Books</h3>
		<p>Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Commodo, Sit Elit Sem.</p>
	</li>
	<li>
  	<input type="checkbox" id="toggle-c">
		<label for="toggle-c"></label>
		<h3>Movies</h3>
		<p>Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Commodo, Sit Elit Sem.</p>
	</li>
	<li>
  	<input type="checkbox" id="toggle-d">
		<label for="toggle-d"></label>
		<h3>Television</h3>
		<p>Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Commodo, Sit Elit Sem.</p>
	</li>
	<li>
  	<input type="checkbox" id="toggle-e">
		<label for="toggle-e"></label>
		<h3>Games</h3>
		<p>Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Commodo, Sit Elit Sem.</p>
	</li>
	<li>
  	<input type="checkbox" id="toggle-f">
		<label for="toggle-f"></label>
		<h3>Atheletes</h3>
		<p>Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Commodo, Sit Elit Sem.</p>
	</li>
	<li>
  	<input type="checkbox" id="toggle-g">
		<label for="toggle-g"></label>
		<h3>Sports Teams</h3>
		<p>Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Commodo, Sit Elit Sem.</p>
	</li>
</ul>