<a href="#" class="button secondary" title="Answer more questions">Answer more questions</a>
<ul id="profile-looks">
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Ethnicity</h3>
		<p><strong>My answer:</strong> Asian</p>
		<p><strong>Mia's answer:</strong> Pacific Islander</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-b">
		<label for="toggle-b"></label>
		<h3>Height</h3>
		<p><strong>My answer:</strong> 120cm</p>
		<p><strong>Mia's answer:</strong> 180cm</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-c">
		<label for="toggle-c"></label>
		<h3>Body Type</h3>
		<p><strong>My answer:</strong> Skinny</p>
		<p><strong>Mia's answer:</strong> Obese</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-d">
		<label for="toggle-d"></label>
		<h3>Eye Color</h3>
		<p><strong>My answer:</strong> Hazel</p>
		<p><strong>Mia's answer:</strong> Green</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-e">
		<label for="toggle-e"></label>
		<h3>Hair Color</h3>
		<p><strong>My answer:</strong> Silver</p>
		<p><strong>Mia's answer:</strong> Red</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-f">
		<label for="toggle-f"></label>
		<h3>Looks</h3>
		<p><strong>My answer:</strong> Good Looking</p>
		<p><strong>Mia's answer:</strong> Hot</p>
		<a href="#" class="retake">retake</a>
	</li>
</ul>