<a href="#" class="button secondary" title="Answer more questions">Answer more questions</a>
<ul id="profile-personality">
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Is astrological sign an important ingredient in your match?</h3>
		<p><strong>My answer:</strong> Yes</p>
		<p><strong>Her answer:</strong> No</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>How would you rate your self-esteem?</h3>
		<p><strong>My answer:</strong> High</p>
		<p><strong>Her answer:</strong> Low</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>How do you show your partner that you care?</h3>
		<p><strong>My answer:</strong> Actions: Make Sunday brunch/do something nice and thoughtful</p>
		<p><strong>Her answer:</strong> Gifts: Make her something she likes/take her on a shopping spree/pamper her with a day in the spa or massage/buy her flowers/buy her soft toys/gadgets/jewellery</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Does squabbling/fighting ever solve anything?</h3>
		<p><strong>My answer:</strong> No</p>
		<p><strong>Her answer:</strong> Almost never, sometimes</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Are you cautious about love after some heartache?</h3>
		<p><strong>My answer:</strong> Yes all the time</p>
		<p><strong>Her answer:</strong> Yes somewhat</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Does she need to be in the same league as you?</h3>
		<p><strong>My answer:</strong> Yes</p>
		<p><strong>Her answer:</strong> Neutral</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Would you consider dating someone who is into witch craft?</h3>
		<p><strong>My answer:</strong> No</p>
		<p><strong>Her answer:</strong> I am not sure</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>How important is it that your partner smell good?</h3>
		<p><strong>My answer:</strong> Critical</p>
		<p><strong>Her answer:</strong> Somewhat</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Does it bother you if your partner swears a lot?</h3>
		<p><strong>My answer:</strong> Yes</p>
		<p><strong>Her answer:</strong> Yes</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Would you date someone who has opposite family values as you?</h3>
		<p><strong>My answer:</strong> No</p>
		<p><strong>Her answer:</strong> I don’t care</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>I want my partner to be a thrill-seeker…we will try anything once.</h3>
		<p><strong>My answer:</strong> Yes</p>
		<p><strong>Her answer:</strong> I don’t care</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Once you are intimate, how often would you and your partner make love?</h3>
		<p><strong>My answer:</strong> Daily</p>
		<p><strong>Her answer:</strong> Regularly</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Would you have one-night stand on your first date?</h3>
		<p><strong>My answer:</strong> No</p>
		<p><strong>Her answer:</strong> I don’t care</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Would you want your partner to be equally sexually-driven as you?</h3>
		<p><strong>My answer:</strong> Yes</p>
		<p><strong>Her answer:</strong> Yes</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>What do you seek in a relationship?</h3>
		<p><strong>My answer:</strong> Loyalty</p>
		<p><strong>Her answer:</strong> Love</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Are you the jealous type?</h3>
		<p><strong>My answer:</strong> Yes</p>
		<p><strong>Her answer:</strong> No</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Would you consider having an open relationship?</h3>
		<p><strong>My answer:</strong> I don’t care</p>
		<p><strong>Her answer:</strong> No</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Would you break off an almost perfect relationship after finding out that she has a fetish you can’t accept?</h3>
		<p><strong>My answer:</strong> No</p>
		<p><strong>Her answer:</strong> Yes</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Which is more important in a match</h3>
		<p><strong>My answer:</strong> Health</p>
		<p><strong>Her answer:</strong> Wealth</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Would you throw a fit if your partner flirted in front of you?</h3>
		<p><strong>My answer:</strong> Yes</p>
		<p><strong>Her answer:</strong> Yes</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Would you be tolerant with your partner if she hit you every time you gals fight?</h3>
		<p><strong>My answer:</strong> No and Need to do something about it/</p>
		<p><strong>Her answer:</strong> Somewhat</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Would you rather do things together on a weekend or have sex all day?</h3>
		<p><strong>My answer:</strong> Yes</p>
		<p><strong>Her answer:</strong> Yes</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Would you date a prostitute?</h3>
		<p><strong>My answer:</strong> No</p>
		<p><strong>Her answer:</strong> No</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Do you prefer sex or no sex toys when you have sex with your partner?</h3>
		<p><strong>My answer:</strong> No</p>
		<p><strong>Her answer:</strong> Yes</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Are you the type who becomes a homebody once you are in a love nest with your partner?</h3>
		<p><strong>My answer:</strong> No</p>
		<p><strong>Her answer:</strong> No</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Would you date someone who is into beastiality?</h3>
		<p><strong>My answer:</strong> No</p>
		<p><strong>Her answer:</strong> As long as I don’t find out</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Do you think great sex is the key to staying in a relationship long term?</h3>
		<p><strong>My answer:</strong> Yes</p>
		<p><strong>Her answer:</strong> Yes</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Do you live-in with your girlfriend after less than 6 months of dating?</h3>
		<p><strong>My answer:</strong> Yes</p>
		<p><strong>Her answer:</strong> No</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>When the phone beeps with an incoming SMS, you</h3>
		<p><strong>My answer:</strong> Look at it and ignore it</p>
		<p><strong>Her answer:</strong> Reply immediately</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Do you greet your colleagues in the morning at work?</h3>
		<p><strong>My answer:</strong> Yes</p>
		<p><strong>Her answer:</strong> No</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Do you lay on your bed the minute you come home from outside?</h3>
		<p><strong>My answer:</strong> No</p>
		<p><strong>Her answer:</strong> No</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Do you leave your clothes around in your room and wait for someone to clean up?</h3>
		<p><strong>My answer:</strong> No</p>
		<p><strong>Her answer:</strong> No</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Do you confess easily?</h3>
		<p><strong>My answer:</strong> No</p>
		<p><strong>Her answer:</strong> No</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Do you tell white lies just to get out of an unwanted situation knowing that the outcome might be salvaged?</h3>
		<p><strong>My answer:</strong> Yes</p>
		<p><strong>Her answer:</strong> Yes</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Instinct is</h3>
		<p><strong>My answer:</strong> Usually reliable</p>
		<p><strong>Her answer:</strong> Not enough on its own</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
</ul>