<a href="#" class="button secondary" title="Answer more questions">Answer more questions</a>
<ul id="profile-relationship">
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Is astrological sign an important element in your match?</h3>
		<p><strong>I prefer:</strong> Yes</p>
		<p><strong>Mia prefers:</strong> Yes</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-b">
		<label for="toggle-b"></label>
		<h3>Is astrological sign an important element in your match?</h3>
		<p><strong>I prefer:</strong> Yes</p>
		<p><strong>Mia prefers:</strong> Yes</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
</ul>