<a href="#" class="button secondary" title="Answer more questions">Answer more questions</a>
<ul id="profile-relationship">
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Current Relationship Status</h3>
		<p><strong>My answer:</strong> In a relationship</p>
		<p><strong>Her answer:</strong> Single</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Have children</h3>
		<p><strong>My answer:</strong> No</p>
		<p><strong>Her answer:</strong> No</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Want children</h3>
		<p><strong>My answer:</strong> No</p>
		<p><strong>Her answer:</strong> Maybe</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-a">
		<label for="toggle-a"></label>
		<h3>Out</h3>
		<p><strong>My answer:</strong> Out to everyone and loving it</p>
		<p><strong>Her answer:</strong> Out to family</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
</ul>