<a href="#" class="button secondary" title="Answer more questions">Answer more questions</a>
<ul id="profile-sexuality">
	<li>
		<input type="checkbox" id="toggle-b">
		<label for="toggle-b"></label>
		<h3>Fantasy 1</h3>
		<p><strong>My answer:</strong> </p>
		<p><strong>Her answer:</strong> </p>
		<p>We are in the movies watching a thriller. Sitting next to you, I begin to stroke your inner thigh. Since everyone is glued to the screen, I begin to do some exploring with my hand...</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-b">
		<label for="toggle-b"></label>
		<h3>Fantasy 2</h3>
		<p><strong>My answer:</strong> </p>
		<p><strong>Her answer:</strong> </p>
		<p>I begin massaging you through the pants and unzipping your pants. No, stop that! Eyes glued to the screen but with a little naughty grin.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-b">
		<label for="toggle-b"></label>
		<h3>Have you ever had an orgasm?</h3>
		<p><strong>My answer:</strong> Yes</p>
		<p><strong>Her answer:</strong> Yes</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
	<li>
		<input type="checkbox" id="toggle-b">
		<label for="toggle-b"></label>
		<h3>If your partner became the top and you became the bottom which meant to be a nice surprise, would you be mad?</h3>
		<p><strong>My answer:</strong> No</p>
		<p><strong>Her answer:</strong> No</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<a href="#" class="retake">retake</a>
	</li>
</ul>