.activities-recent
  sidebar-spacings()
  header
    h3
      sidebar-spacing-bottom()
    &:after
      sidebar-heading-underline()
  article
    li
      sidebar-content()
      sidebar-spacing-bottom()
      a 
        sidebar-hyperlinks()