.activities-recent
	sidebar-spacings()
	header
		h3
			sidebar-spacing-bottom()
		&:after
			sidebar-heading-underline()
	article
		li
			sidebar-spacing-bottom()
			a 
				sidebar-hyperlinks()
			&.empty
				p
					sidebar-content()
					content-one-line()
