.header-menu
	width 100%
	background-color #62228f
	background url('../img/bg_header.jpg') $purple repeat-x center bottom
	font-weight 200

	.dummy
		background-color #333333
		height 48px
		position fixed
		top 0
		min-width 960px
		width 100%
		z-index 2
		p
			color white
			float right
			font-size 0.875rem
			margin 1em
			a
				color #ff9f00
				text-decoration underline
		.fb-like
			margin 12px

		+ *
			margin-top 48px

	h1
		display inline-block
		height 40px
		left 0
		overflow hidden
		position absolute
		width 145px
		a
			background url('../img/logo_original.png') no-repeat center top
			color transparent
			display inline-block
			height 100%
			width 100%

	nav
		font-size 0
		height 50px
		text-align right
		width 100%
		> *
			display inline-block
			vertical-align middle

		> menu
			height 46px
			margin 2px 0
			padding 0
			margin 0 20px 0 0
			> li
				border none
				border-radius 3px
				display inline-block
				height 100%
				margin 0
				position relative
				text-align center
				width 40px
				&:last-child
					margin-right 0px
				> a
					background no-repeat center
					color transparent
					display inline-block
					font-size 1rem
					height 100%
					text-decoration none
					position relative
					width 100%
					&:hover
						background-color rgba(98, 34, 143, 0.5)
					&.notifications
						background-image url('../img/icn_global.png')
					&.conversations
						background-image url('../img/icn_messages.png')
					&.sexytimes
						background-image url('../img/icn_dates.png')
					&[data-unread]:after
						background-repeat repeat-x
						border-radius 8px
						content attr(data-unread)
						display inline-block
						font-family 'Anonymous Pro', sans-serif
						font-size 11px
						height 15px
						line-height 150%
						overflow hidden
						padding 0px 3px 0 4px
						position absolute
						right 5px
						text-align center
						top 27px
						vertical-align middle
						button-face(#db4648, url('../img/bg_btn_red.jpg'), white)
						button-border-raised(rgba(159, 54, 71, 1), rgba(255, 255, 255, 0.22), rgba(0, 0, 0, 0.16))
						button-glow()
				> section
					background-color white
					box-shadow 0px 1px 3px 0px rgba(0, 0, 0, 0.44)
					display none
					font-size 0
					height 400px
					left 0
					position absolute
					text-align left
					top 48px
					width 300px
					z-index 10
					&.opened
						display inline-block
						&:before
							border-left 6px solid transparent
							border-right 6px solid transparent
							border-bottom 8px solid white
							content ' '
							display inline-block
							height 0
							left 15px
							position absolute
							top -8px
							width 0

		> form
			input
				background url('../img/icn_search.png') #fff no-repeat 96% center
				border 1px solid #333
				border-radius 5px
				width 272px
				box-shadow inset 0px 0px 2px 2px rgba(0, 0, 0, 0.1)
				outline 0
				padding 8px 5px
				font-size 0.875rem
				placeholder()
				&:focus
					box-shadow lighten($purple, 70%) 0px 0px 5px

		> .name
			color #d0c0dd
			font-size 0.875rem
			min-width 233px
			line-height 50px
			padding 0 20px 0 0
			text-align right
			&:hover
				text-decoration underline
			&:after
				// background url('../img/ln.png') no-repeat right 0
				/* glow, shadow */
				box-shadow 1px 0px 0px 0px rgba(255, 255, 255, 0.15),
					2px 0px 0px 0px rgba(0, 0, 0, 0.1)
				content ' '
				display inline-block
				height 28px
				overflow hidden
				position absolute
				top 11px
				width 19px

		> .signout
			background url('../img/icn_power.png') no-repeat center
			color transparent
			font-size 1rem
			height 46px
			margin 2px 0
			overflow hidden
			width 40px
			&:hover
				background-color rgba(98, 34, 143, 0.5)
