.header-menu
	width 100%
	background-color #62228f
	background url('../img/bg_header.jpg') $purple repeat-x
	font-weight 200
	height 50px

	h1, form, ul, a#nav-name, a#nav-logout
		position absolute

	h1 a, a#nav-name
		display block
		top 9px
		line-height 32px

	ul li, a#nav-logout
		display block
		top 11px
		width 28px
		height 28px
		line-height 28px
		//border 1px solid rgba(255, 255, 255, 0.7)
		border-radius 3px
		text-align center
		//	color rgba(255, 255, 255, 0.0)

	a
		color #fff
		color rgba(255, 255, 255, 0.7)
		:hover
			color #ff9f00

	h1
		width 440px
		margin 0.3em 0
		a
			color rgba(255, 255, 255, 0.0)
			background url('../img/logo_modified.png') no-repeat

	form
		top 10px
		left 392px

		input
			background url('../img/icn_search.png') #fff no-repeat 246px 7px
			border-radius 5px
			height 30px
			width 272px
			box-shadow inset 0px 0px 2px 2px rgba(0, 0, 0, 0.1)
			outline 0
			padding 5px
			font-size 0.8em
			&:focus
				box-shadow lighten($purple, 70%) 0px 0px 5px

	ul
		left 680px
		&#nav-popups
			padding 0
			margin 0
			li
				border none
				width 35px
				height 46px
				border-radius 0
				margin-top 2px
				a
					width 100%
					height 100%
					display block
				&:nth-child(1), &:nth-child(2), &:nth-child(3)
					&:hover
						background-color rgba(98, 34, 143, 0.5)
				&:nth-child(1)
					background url('../img/icn_global.png') no-repeat 6px 12px
				&:nth-child(2)
					background url('../img/icn_messages.png') no-repeat 6px 12px
				&:nth-child(3)
					background url('../img/icn_dates.png') no-repeat 6px 12px
				

		li
			margin-right 5px
			float left

			:last-child
				margin-right 0px

	a#nav-name
		left 800px
		margin 0 5px
		padding 0 10px 0 0
		text-align right
		width 113px
		color #d0c0dd
		font-size 0.8em
		background url('../img/ln.png') no-repeat right 0
		&:hover
			text-decoration underline

	a#nav-logout
		right 0px
		width 35px
		height 46px
		top 4px
		background url('../img/icn_power.png') no-repeat 6px 12px
		&:hover
			background-color rgba(98, 34, 143, 0.5)
