.header-public
	padding 10px 0 20px 0
	position relative
	width 100%
	h1
		background url('../img/logo.png') no-repeat
		height 50px
		overflow hidden
		width 214px
		a
			color transparent
			display inline-block
			height 100%
			width 100%
	.button
		position absolute
		right 0
		top 20px
