<section class="panel friends-common">
	<header>
		<h3>Common Friends ({{count}})</h3>
	</header>
	<article class="tray">
		<ul>
			{{#friends}}
			<li>
				<a href="/profile/{{id}}" title="Profile of {{firstName}} {{lastName}}">
					<img src="{{photo}}" alt="{{firstName}} {{lastName}}" />
				</a>
			</li>
			{{/friends}}
		</ul>
		{{#matchmaker}}
		<p>You were introduced by <a href="/profile/{{id}}" title="Profile of {{firstName}} {{lastName}}">{{firstName}} {{lastName}}</a></p>
		{{/matchmaker}}
	</article>
</section>
