<h3>Top Matchmakers</h3>
<a href="/leaderboard" class="see-more" title="See the best matchmakers amongst your friends">see all</a>
<hr>

<!-- TODO: iterate over elements -->
<!-- IF users -->
<ol>

	<!-- FOR ALL USERS -->
	<li><div class="bblm-user-preview-points" /></li>

	<!-- TODO: remove -->
	<li>
		<img src="./dummy/user1.png" alt="Picture of Bette Porter" />
		<div class="user-preview-points-info">
			<a href="/profile" title="Link to the profile page of Alice Pieszecki">Alice Pieszecki</a>
			<p>905 points</p>
		</div>
	</li>
	<li>
		<img src="./dummy/user2.png" alt="Picture of Bette Porter" />
		<div class="user-preview-points-info">
			<a href="/profile" title="Link to the profile page of Alice Pieszecki">Alice Pieszecki</a>
			<p>105 points</p>
		</div>
	</li>
	<li>
		<img src="./dummy/user3.png" alt="Picture of Bette Porter" />
		<div class="user-preview-points-info">
			<a href="/profile" title="Link to the profile page of Alice Pieszecki">Alice Pieszecki</a>
			<p>832 points</p>
		</div>
	</li>
	<li>
		<img src="./dummy/user1.png" alt="Picture of Bette Porter" />
		<div class="user-preview-points-info">
			<a href="/profile" title="Link to the profile page of Alice Pieszecki">Alice Pieszecki</a>
			<p>99 points</p>
		</div>
	</li>
	<!-- ENDFOR -->
</ol>

<!-- ELSEIF no users -->
<p>You have no friends yet why not <a href="javascript:alert('opens the facebook invitation screen');" title="Invite Facebook friends">invite some from Facebook</a>?</p>
<!-- ENDIF -->

