<h3>Your Friends</h3>
<a href="/users" class="see-more" title="See all your friends on FreyaLove">see all</a>

<!-- TODO iterate -->
<ul class="friends-list-dates">
	<li><a href="/profile" title="Link to the page of Bette Porter"><img src="./dummy/user1.png" alt="Picture of Bette Porter" /></a></li>
	<li><a href="/profile" title="Link to the page of Bette Porter"><img src="./dummy/user2.png" alt="Picture of Bette Porter" /></a></li>
	<li><a href="/profile" title="Link to the page of Bette Porter"><img src="./dummy/user3.png" alt="Picture of Bette Porter" /></a></li>
	<li><a href="/profile" title="Link to the page of Bette Porter"><img src="./dummy/user1.png" alt="Picture of Bette Porter" /></a></li>
</ul>
<a href="#" title="Invite more friends from Facebook">Invite more friends from Facebook</a>
