<h3>Your Friends (5)</h3>
<a href="/users" class="see-more" title="See all your friends on FreyaLove">see all</a>

<!-- TODO iterate -->
<ul class="friends-list-dates">
	<li><a href="/profile" title="Link to the page of Bette Porter"><img src="./dummy/user1.png" alt="Picture of Bette Porter" /></a></li>
	<li><a href="/profile" title="Link to the page of Bette Porter"><img src="./dummy/user2.png" alt="Picture of Bette Porter" /></a></li>
	<li><a href="/profile" title="Link to the page of Bette Porter"><img src="./dummy/user3.png" alt="Picture of Bette Porter" /></a></li>
	<li><a href="/profile" title="Link to the page of Bette Porter"><img src="./dummy/user1.png" alt="Picture of Bette Porter" /></a></li>
	<li class="add-more"><a href="#" title="Add more friends from Facebook"></a></li>
	<p class="invite-more"><a href="#" title="Invite more friends">Invite more Facebook friends</a></p>
</ul>

