{{#friend}}
<img id="profile-pic" src="{{photo}}?type=large" alt="{{firstName}} {{lastName}}" />
<div id="profile-snapshot">
	<h1 class="{{#isMe}}me{{/isMe}} {{#isFriend}}friend{{/isFriend}} {{#isFof}}fof{{/isFof}}">
		{{firstName}} {{lastName}}
	</h1>
	<a href="/profile-edit.html" class="see-more" type="button" title="Button to edit my profile">Edit Profile</a>
	<ul id="profile-snapshot-list">
		<li>
			{{#isMe}}
				<input type="checkbox" id="toggle-1">
				<label for="toggle-1"></label>
			{{/isMe}}
				<p>Born {{dateOfBirth}}</p>
			{{#isMe}}
			{{/isMe}}
		</li>
		<li>
			{{#isMe}}
				<input type="checkbox" id="toggle-2">
				<label for="toggle-2"></label>
			{{/isMe}}
				<p>Lives in {{location}}</p>
			{{#isMe}}
			{{/isMe}}
		</li>
		<li>
			{{#isMe}}
				<input type="checkbox" id="toggle-3">
				<label for="toggle-3"></label>
			{{/isMe}}
				<p>From {{origin}}</p>
			{{#isMe}}
			{{/isMe}}
		</li>
		<li>
			{{#isMe}}
				<input type="checkbox" id="toggle-4">
				<label for="toggle-4"></label>
			{{/isMe}}
				<p>25 friends on FreyaLove</p>
			{{#isMe}}
			{{/isMe}}
		</li>
		<li>
			{{#isMe}}
				<input type="checkbox" id="toggle-5">
				<label for="toggle-5"></label>
			{{/isMe}}
				<p>Speaks {{languages}}</p>
			{{#isMe}}
			{{/isMe}}
		</li>
		<li>
			{{#isMe}}
				<input type="checkbox" id="toggle-6">
				<label for="toggle-6"></label>
			{{/isMe}}
				<p>About Me: {{about}}</p>
			{{#isMe}}
			{{/isMe}}
		</li>
	</ul>
</div>
{{/friend}}