<section class="friends-search">
	<header>
		<h2>Found {{count}} Search Results for {{query}}</h2>
	</header>
	<article>
		<ol>
			{{#friends}}
			<li>
				<a href="/profile/{{id}}" title="Profile of {{name}}">
					<img src="{{photo}}" alt="{{name}}" />
				</a>
				<div class="search-profile-details">
					<p>
						<a href="/profile/{{id}}" class="name" title="Profile of {{name}}">{{name}}</a>
					</p>
					<p>{{dateOfBirth}}, {{location}}</p>
					<p>{{likes}}</p>
				</div>

			</li>
			{{/friends}}
		</ol>
		{{^friends}}
		<p>No results found</p>
		{{/friends}}
	</article>
</section>
