<section class="panel activities-recent">
  
  <header>
    <h3>Top Matchmakers</h3>
  </header>

  <article>
    <ol>
      <li>
        <img src="/dummy/user1.png" alt="Picture of Bette Porter" />
        <div class="user-preview-points-info">
          <a href="/profile/{{id}}" title="Profile of Alice Pieszecki">Alice Pieszecki</a>
          <p>905 points</p>
        </div>
      </li>
      <li>
        <img src="/dummy/user2.png" alt="Picture of Bette Porter" />
        <div class="user-preview-points-info">
          <a href="/profile/{{id}}" title="Profile of Alice Pieszecki">Alice Pieszecki</a>
          <p>105 points</p>
        </div>
      </li>
      <li>
        <img src="/dummy/user3.png" alt="Picture of Bette Porter" />
        <div class="user-preview-points-info">
          <a href="/profile/{{id}}" title="Profile of Alice Pieszecki">Alice Pieszecki</a>
          <p>832 points</p>
        </div>
      </li>
      <li>
        <img src="/dummy/user1.png" alt="Picture of Bette Porter" />
        <div class="user-preview-points-info">
          <a href="/profile/{{id}}" title="Profile of Alice Pieszecki">Alice Pieszecki</a>
          <p>99 points</p>
        </div>
      </li>
    </ol>

    <!-- ELSEIF no users -->
    <p>You have no friends yet why not <a href="javascript:alert('opens the facebook invitation screen');" title="Invite Facebook friends">invite some from Facebook</a>?</p>
    <!-- ENDIF -->

  </article>
</section>