section#footer
	background url('../img/bg_footer.jpg') #aaa repeat-x
	clear both
	font-size 0.8em
	padding 17px 0
	width 100%
	box-shadow inset 0px 0px 3px rgba(0,0,0,.5)

	menu
		display inline-block
		margin 0
		padding 0

		li
			color #9f3647
			display inline-block
			font-weight bold
			&:after
				color #444444
				content '|'
				font-weight normal
				padding 0 10px
			&:last-child:after
				content ''
				padding 0

	small
		color #444444
		font-size 1em
		position absolute
		right 0
