form-input()
	border 1px solid #ccc
	outline none
	padding 10px
	border-radius 3px
	font 1rem Bariol, Helvetica, Arial, sans-serif
	color #444
	margin 0
	&::-webkit-input-placeholder
		font-style italic
	&:-moz-placeholder
		font-style italic
	&:-ms-input-placeholder
		font-style italic

textarea()
	height 100px
	resize vertical
	form-input()

input()
	form-input()

input[type="number"]
	-webkit-appearance none

label()
	width 65px
	display inline-block
	vertical-align top
	margin 10px 0 0 0

focus()
	box-shadow lighten(#ccc,5%) 0 0 4px