textarea()
	height 100px
	resize vertical
	border 1px solid #ccc
	outline none
	padding 10px
	border-radius 3px
	font 1rem Bariol, Helvetica, Arial, sans-serif
	color #444
	margin 0

input()
	border 1px solid #ccc
	outline none
	padding 10px
	border-radius 3px
	font 1rem Bariol, Helvetica, Arial, sans-serif
	color #444
	margin 0

label()
	width 65px
	display inline-block

focus()
	box-shadow lighten(#ccc,5%) 0 0 4px