<div class="dialog">
	<section class="sexytimes-create">
		<header>
			<h2>New Date</h2>
		</header>
		<article>
			<div class="form-item">
				<label for="">Who</label>
				<select data-placeholder="Choose conversation receipents..." class="chzn-select" multiple>
          {{#friends}}
          <option value="{{firstName}} {{lastName}}">{{firstName}} {{lastName}}</option>
          {{/friends}}
        </select>
			</div>
			<div class="form-item">
				<label for="">Date</label>
				<input type="date" placeholder="DD/MM/YY">
			</div>
			<div class="form-item">
				<label for="">Time</label>
				<input type="time" placeholder="HH:MM">
			</div>
			<div class="form-item">
				<label for="">Where</label>
				<input type="text" placeholder="Where would you like to meet?">
			</div>
			<div class="form-item">
				<textarea placeholder="Write a message..."></textarea>
			</div>
		</article>
		<footer>
			<p>Your matchmaker, <a href="#">Jenny Schecter</a> will also be informed of your date with Tina Kennard.</p>
			<a href="#" class="button flat close">Close</a>
			<a href="" class="button primary">Send Message</a>
		</footer>
	</section>
</div>