<section class="panel sexytimes-upcoming">
	<header>
		<h3>Upcoming Dates</h3>
	</header>
	<article>
		<ul>
			{{#sexyTimes}}
			<li>
				{{#from}}
				<a href="/profile/{{id}}" title="Profile of {{name}}">
					<img src="{{photo}}" alt="{{name}}" />
				</a>
				{{/from}}
				<p>
					You're meeting
					{{#from}}<a href="/profile/{{id}}" title="Profile of {{name}}">{{name}}</a>{{/from}}
					<span class="when">{{when}}</span>
					at <span class="where">{{where}}</span>.
				</p>
			</li>
			{{/sexyTimes}}
			{{^sexyTimes}}
			<li class="empty">
				<p>
					You have no dates for now. Why not <a href="#" class="create-sexytime" title="Invite someone to a date">create one</a>?
				</p>
			</li>
			{{/sexyTimes}}
		</ul>
	</article>
</section>
