<section id="footer">
	<div class="wrapper">
		<menu>
			<li><a href="javascript:alert('opens the about page');window.location.assign('about.html');" title="Find out all about Freya Love">About</a></li>
			<li><a href="javascript:alert('opens the faq page');window.location.assign('faq.html');" title="Read the Frequently Asked Questions about Freya Love">F.A.Q.</a></li>
			<li><a href="javascript:alert('opens the t&c page');window.location.assign('tnc.html');" title="REad the Terms and Conditions of Freya Love">Terms &amp; Conditions</a></li>
		</menu>
		<small>&copy; 2012 Knet Ignite Pte Ltd</small>
	</div>
</section>
