<section class="footer-public">
	<div class="wrapper">
		<menu>
			<li><a href="/about" title="Find out all about FreyaLove">About</a></li>
			<li><a href="/faq" title="Read the Frequently Asked Questions about FreyaLove">F.A.Q.</a></li>
			<li><a href="/terms" title="Read the Terms and Conditions of FreyaLove">Terms &amp; Conditions</a></li>
			<li><a href="mailto:customerservice@freyalove.com" title="Email us with feedback or if you have any issue using FreyaLove">Email Us</a></li>
		</menu>
		<small>&copy; 2012 Knet Ignite Pte Ltd</small>
	</div>
</section>
