<h3>Your Friends</h3>
<a href="#" class="see-more" title="See all your friends on FreyaLove">see all</a>

<ul class="friends-list">
	<li><a href="#" title="Link to the page of Bette Porter"><img src="./dummy/user1.png" alt="Picture of Bette Porter" /></a></li>
	<li><a href="#" title="Link to the page of Bette Porter"><img src="./dummy/user2.png" alt="Picture of Bette Porter" /></a></li>
	<li><a href="#" title="Link to the page of Bette Porter"><img src="./dummy/user3.png" alt="Picture of Bette Porter" /></a></li>
	<li><a href="#" title="Link to the page of Bette Porter"><img src="./dummy/user1.png" alt="Picture of Bette Porter" /></a></li>
</ul>
<a href="#" title="Invite more friends from Facebook">Invite more friends from Facebook</a>
