<!-- TODO: iterate over elements and fill details -->
<h2>Tina and Your Common Friends <a href="javascript:alert('opens a page that lists all the users friends');window.location.assign('user-list.html');" class="see-more" title="See all your friends on FreyaLove">see all</a></h2>

<ul class="tiny">
	<li><a href="/profile" title="Link to the page of Bette Porter"><img src="./dummy/user1.png" alt="Picture of Bette Porter" /></a></li>
	<li><a href="/profile" title="Link to the page of Bette Porter"><img src="./dummy/user1.png" alt="Picture of Bette Porter" /></a></li>
	<li><a href="/profile" title="Link to the page of Bette Porter"><img src="./dummy/user1.png" alt="Picture of Bette Porter" /></a></li>
	<li><a href="/profile" title="Link to the page of Bette Porter"><img src="./dummy/user1.png" alt="Picture of Bette Porter" /></a></li>
</ul>
<p>You were introduced by <a href="/profile" title="Link to the page of Bette Porter">Bette Porter</a>.</p>
