<div class="message-summary">
	<a href="/profile" title="Link to the page of Bette Porter"><img src="/dummy/user1.png" alt="Picture of Bette Porter" /></a>
	<p>
		<a href="/profile" title="Link to the page of Bette Porter">Bette Porter</a>
		<span class="timestamp">3 hours ago</span>
	</p>
	<ul class="message-actions">
    	<li><a href="javascript:alert('mark unread');" title="Mark message unread">U</a></li>
    	<li><a href="javascript:alert('archive');" title="Archive message">A</a></li>
    	<li><a href="javascript:alert('delete');" title="Delete message">D</a></li>
    </ul>
	<p>
		<a href="/message" title="Link to the message of Bette Porter">
			Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam...
		</a>
	</p>
</div>
