.sexytimes-create
	article
		.form-item
			display inline-block
			vertical-align top
			&:nth-child(2)
				width 59%
				input
					width 150px
			&:nth-child(3)
				width 40%
				input
					width 50px
					margin 0
				span
					margin 0 8px