.sexytimes-create
	article
		.form-item
			display inline-block
			vertical-align top
			&:nth-child(2)
				width 69%
				input
					width 150px
			&:nth-child(3)
				width 30%
				input
					width 70px
					margin 0