.sexytimes-upcoming
	sidebar-spacings()
	header
		h3
			sidebar-spacing-bottom()
		&:after
			sidebar-heading-underline()
	article
		ul li 
			single-line-list-spacing()
			a 
				img
					profile-image()
			p 
				sidebar-content()
				content-beside-list(190px, 10px, 10px)
				a 
					sidebar-hyperlinks()
			&.empty
				p 
					content-one-line()
