{{#hasItems}}
<section class="panel winks-received">
	<header>
		<h2>Hey, somebody winked at you!</h2>
	</header>
	<article class="carousel">
		<div class="viewport">
			<ol>
				{{#items}}
				{{#from}}
				<li{{#selected}} class="selected"{{/selected}}>
					<a href="/profile/{{id}}" title="Profile of {{firstName}} {{lastName}}">
						<img src="{{photo}}" alt="{{firstName}} {{lastName}}" />
						<h6>{{firstName}} {{lastName}}</h6>
					</a>
				</li>
				{{/from}}
				{{/items}}
			</ol>
			{{^items}}
			<p class="empty">No winks received. Go get your flirt on!</p>
			{{/items}}
		</div>
		<ol class="bookmarks"></ol>
		<a href="#" class="button flat previous {{^showPrevious}}disabled{{/showPrevious}}">Previous</a>
		<a href="#" class="button flat next {{^showNext}}disabled{{/showNext}}">Next</a>
	</article>
</section>
{{/hasItems}}