<section class="panel matches-choice">
	<article class="carousel">
		<div class="viewport">
			<ol>
				{{#items}}
				<li{{#selected}} class="selected"{{/selected}}>
					<img src="{{photo}}" alt="{{firstName}} {{lastName}}" style="background-image: url({{photo}})" />

					<h2>{{firstName}} {{lastName}}</h2>

					<label>
						<a href="/profile/{{id}}" title="Profile of {{firstName}} {{lastName}}">View profile</a>
					</label>
				</li>
				{{/items}}
			</ol>
			{{^items}}
			<p class="empty">No suitable girls found yet. Try filling out your profile or inviting more friends.</p>
			{{/items}}
		</div>
		<ol class="bookmarks"></ol>
		<a href="#" class="button flat previous {{^showPrevious}}disabled{{/showPrevious}}">Prev</a>
		<a href="#" class="button flat next {{^showNext}}disabled{{/showNext}}">Next</a>
	</article>
</section>
