<section class="matches-choice">
	<a href="javascript:alert('opens the friend's profile page');window.location.assign('profile-friend.html');" title="Link to the page of Tina Kennard"><img src="/dummy/user2.png" alt="Picture of Tina Kennard" /></a>
	<h3><a href="javascript:alert('opens the friend's profile page');window.location.assign('profile-friend.html');" title="Link to the page of Tina Kennard">Tina Kennard</a></h3>
	<p>Born March 7, 1971 (age 41) in Singapore, Singapore, lives in Singapore, Singapore. 25 friends on FreyaLove</p>
	<p>Speaks English, Hokkinen, Mandarin, French</p>
	<p>About text... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor.</p>
</section>