<section class="panel matches-couples">
  
  <header>
    <h2>Aren’t they just cute together? Introduce them!</h2>
  </header>

  <article>

    <ul id="matches-couples-list">
    	<div class="match-preview small">
				<div class="match-preview-profile">
					<img src="/dummy/user2.png" alt="Picture of Tina Kennard" />
					<a href="/profile-friend.html" title="Link to the profile page of Tina Kennard">Tina<br>Kennard</a>
				</div>
				
				<a href="j/match.html" title="Link to the matching page of Tina Kennard and Helena Peabody" class="button-match"><span>match</span></a>

				<div class="match-preview-profile">
					<img src="/dummy/user1.png" alt="Picture of Helena Peabody" />
					<a href="/profile-friend.html" title="Link to the profile page of Helena Peabody">Helena<br>Peabody</a>
				</div>
			</div>
    </ul>

    <a href="#" class="button flat previous"/>Previous</a>
    <a href="#" class="button flat next"/>Next</a>

  </article>
</section>