<!-- MATCH FRIENDS -->
<h2>Aren’t they just cute together? Introduce them!</h2>
<div id="match-your-friends-list">
	<!-- POSSIBLE MATCHES -->

	<!-- MATCH PREVIEW MODULE -->
	<div class="match-preview small">
		<div class="match-preview-profile">
			<img src="/dummy/user2.png" alt="Picture of Tina Kennard" />
			<a href="javascript:alert('opens the user profile page');window.location.assign('profile-friend.html');" title="Link to the profile page of Tina Kennard">Tina<br>Kennard</a>
		</div>
		
		<a href="javascript:alert('opens the matching page');window.location.assign('match.html');" title="Link to the matching page of Tina Kennard and Helena Peabody" class="button-match"><span>match</span></a>

		<div class="match-preview-profile">
			<img src="/dummy/user1.png" alt="Picture of Helena Peabody" />
			<a href="javascript:alert('opens the user profile page');window.location.assign('profile-friend.html');" title="Link to the profile page of Helena Peabody">Helena<br>Peabody</a>
		</div>
	</div>

	<!-- MATCH PREVIEW MODULE -->
	<div class="match-preview small">
		<div class="match-preview-profile">
			<img src="/dummy/user2.png" alt="Picture of Tina Kennard" />
			<a href="javascript:alert('opens the user profile page');window.location.assign('profile-friend.html');" title="Link to the profile page of Tina Kennard">Tina<br>Kennard</a>
		</div>
		
		<a href="javascript:alert('opens the matching page');window.location.assign('match.html');" title="Link to the matching page of Tina Kennard and Helena Peabody" class="button-match"><span>match</span></a>

		<div class="match-preview-profile">
			<img src="/dummy/user1.png" alt="Picture of Helena Peabody" />
			<a href="javascript:alert('opens the user profile page');window.location.assign('profile-friend.html');" title="Link to the profile page of Helena Peabody">Helena<br>Peabody</a>
		</div>
	</div>
	<a href="javascript:alert('opens a page that lists all friends to match');window.location.assign('match.html');" class="see-more" title="See all friends you could match">view all</a>
</div>
<a href="#" class="navPrev"/></a>
<a href="#" class="navNext"/></a>
