<h2>Hmmm... These Girls Look Good For You...</h2>

<!-- TODO: iterate -->
<div class="bblm-user-preview-medium" />
<div class="bblm-user-preview-medium middle" />
<div class="bblm-user-preview-medium" />

<a href="#" class="navPrev"/></a>
<a href="#" class="navNext"/></a>
<!-- CAROUSEL -->
<ul class="carousel"><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li></ul>

<a href="javascript:alert('opens a page that lists all possible matches for you');window.location.assign('user-list.html');" class="see-more" title="See all possible matches for you">browse all</a>
