<section class="panel matches-singles">
	<header>
		<h2>Hmmm... These Girls Look Good For You...</h2>
	</header>
	<article class="carousel">
		<div class="viewport">
			<ol class="matches-singles-list">
				{{#singles}}
				<li{{#selected}} class="selected"{{/selected}}>
					<img src="{{photo}}" alt="{{name}}" style="background-image: url({{photo}})" />

					<h3><a href="/profile/{{id}}" id="name" title="Profile of {{name}}">{{name}}</a></h3>

					{{#age}}
					<p class="age">Age {{age}}</p>
					{{/age}}

					{{#location}}
					<p class="location">in {{location}}</p>
					{{/location}}

					{{#likes}}
					<div class="likes">
						<h5>Likes</h5>
						<p>{{likes}}</p>
					</div>
					{{/likes}}

					{{#about}}
					<div class="about">
						<h5>About</h5>
						<p>{{about}}... <a href="/profile/{{id}}">see more</a></p>
					</div>
					{{/about}}

					<a href="/profile/{{id}}" class="button cta" title="Profile of {{name}}">Check her out!</a>
				</li>
				{{/singles}}
			</ol>
			{{^singles}}
			<p class="empty">No suitable girls found yet. Try filling out your profile or inviting more friends.</p>
			{{/singles}}
		</div>
		<ol class="bookmarks"></ol>
		<a href="#" class="button flat previous {{^showPrevious}}disabled{{/showPrevious}}">Previous</a>
		<a href="#" class="button flat next {{^showNext}}disabled{{/showNext}}">Next</a>
	</article>
</section>
