<section class="panel activities-recent">
	<header>
		<h3>Recent Activity</h3>
	</header>
	<article>
		<ul>
			{{#activities}}
			<li>
				{{#FRIEND_JOIN}}
				Your friend
				{{#friend}}<a href="/profile/{{id}}" title="Profile of {{name}}">{{name}}</a>{{/friend}}
				joined FreyaLove.
				{{/FRIEND_JOIN}}

				{{#ARRANGED_SEXYTIME}}
				Your friends
				{{#from}}<a href="/profile/{{id}}" title="Profile of {{name}}">{{name}}</a>{{/from}}
				and
				{{#to}}<a href="/profile/{{id}}" title="Profile of {{name}}">{{name}}</a>{{/to}}
				are going to <span class="where">{{where}}</span>
				on <span class="when">{{when}}</span>.
				{{#notes}}
				Notes: <span class="notes">{{notes}}</span>
				{{/notes}}
				{{/ARRANGED_SEXYTIME}}
			</li>
			{{/activities}}
			{{^activities}}
			<li class="empty">
				<p>So far it's pretty quiet. Chillax.</p>
			</li>
			{{/activities}}
		</ul>
	</article>
</section>
