<section class="panel activities-recent">
  <header>
    <h3>Recent Activity</h3>
  </header>
  <article>
    <ul>
      <li>Your friends <a href="/profile/2" title="Profile of Bette Porter">Bette Porter</a> and <a href="/profile/2" title="Link to the profile page of Tina Kennard">Tina Kennard</a> will meet up on Thursday.</li>
      <li>Your Facebook friend <a href="/profile/2" title="Link to the profile page of Tina Kennard">Tina Kennard</a> joined FreyaLove.</li>
      <li>Your friends <a href="/profile/2" title="Link to the profile page of Bette Porter">Bette Porter</a> and <a href="/profile/2" title="Link to the profile page of Tina Kennard">Tina Kennard</a> are meeting up today.</li>
      <li><a href="/profile/2" title="Link to the profile page of Bette Porter">Bette Porter</a> smiled at you. Smile back.</li>
      <li>Your friends <a href="/profile/2" title="Link to the profile page of Bette Porter">Bette Porter</a> and <a href="/profile/2" title="Link to the profile page of Tina Kennard">Tina Kennard</a> are meet up yesterday.</li>
    </ul>
  </article>
</section>