<section class="popup notifications-menu">
	<header>
		<h3>Notifications</h3>
	</header>
	<article>
		<ol>
			{{#notifications}}
			<li>
				{{#WINK_RECEIVED}}
				{{#from}}<a href="/profile/{{id}}" title="Profile of {{name}}">{{name}}</a> smiled at you. <a href="#" class="smile_back">Smile back.</a>{{/from}}
				{{/WINK_RECEIVED}}

				{{#MATCH_INTRODUCTION}}
				{{#matchmaker}}<a href="/profile/{{id}}" title="Profile of {{name}}">{{name}}</a>{{/matchmaker}}
				introduced you to
				{{#to}}<a href="/profile/{{id}}" title="Profile of {{name}}">{{name}}</a>{{/to}}
				{{/MATCH_INTRODUCTION}}
			</li>
			{{/notifications}}
			{{^notifications}}
			<li class="empty">
				<p>Nothing going on yet, go make some noise.</p>
			</li>
			{{/notifications}}
		</ol>
	</article>
</section>
