<section class="popup notifications-menu">
  <header>
    <h3>Notifications</h3>
  </header>
  <article>
    <ul>
      {{#notifications}}
        <li>
          <a href="/profile/{{id}}" title="Link to the profile page of Bette Porter">Bette Porter</a> smiled at you. Smile back.
        </li>
      {{/notifications}}
      {{^notifications}}
        <li class="empty">
          <p>
            No notifications
          </p>
        </li>
      {{/notifications}}
    </ul>
  </article>
</section>