<div class="bblm-header-public" />

<section id="main">
	<div class="wrapper">

<h1>About FreyaLove</h1>

<p>FreyaLove is the only social platform that is built with the intention for lesbians who are passionate to help their friends to find love. It provides the ability for lesbians to become match makers and be paired by the match maker community. We are focusing on helping single lesbians to find better love. We believe in friends match making to get you suggested matches as they are the ones who know you best; they know who your types are, your likes and your dislikes.</p>

<p>Founded in 2012 and based in Singapore.</p>

	</div>
</section>

<div class="bblm-footer-end" />
