<div class="bblm-header-top" />

<section class="main">
	<div class="wrapper">

		<div id="column-left">
		
			<div id="wink">
				<!-- PEOPLE THAT SMILED AT ME -->
				<h2>Hey, somebody winked at you!</h2>

				<ul id="winked-list">
					<!-- TODO: iterate -->
					<li><div class="bblm-user-preview-small" /></li>
					<li><div class="bblm-user-preview-small" /></li>
					<li><div class="bblm-user-preview-small" /></li>
					<li><div class="bblm-user-preview-small" /></li>
					<li><div class="bblm-user-preview-small" /></li>
					<li><div class="bblm-user-preview-small" /></li>
				</ul>

				<a href="javascript:alert('opens a page that lists all people that smiled at me');window.location.assign('user-list.html');" class="see-more" title="See all people that smiled at me">View All</a>
			</div>
			
			<div id="matches-for-you">
				<h2>Hmmm... These Girls Look Good For You...</h2>

				<!-- TODO: iterate -->
				<div class="bblm-user-preview-medium" />
				<div class="bblm-user-preview-medium middle" />
				<div class="bblm-user-preview-medium" />
				
				<!-- CAROUSEL -->
				<ul class="carousel"><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li></ul>

				<a href="javascript:alert('opens a page that lists all possible matches for you');window.location.assign('user-list.html');" class="see-more" title="See all possible matches for you">browse all</a>
				
				<!-- MATCH FRIENDS -->
				<h2>Match Your Friends <a href="javascript:alert('opens a page that lists all friends to match');window.location.assign('match.html');" class="see-more" title="See all friends you could match">browse all</a></h2>
				
			</div>

			<!-- POSSIBLE MATCHES -->

			<!-- MATCH PREVIEW MODULE -->
			<div class="match-preview small">
				<img src="/dummy/user2.png" alt="Picture of Tina Kennard" />
				<a href="javascript:alert('opens the matching page');window.location.assign('match.html');" title="Link to the matching page of Tina Kennard and Helena Peabody" class="button-match">match</a>
				<img src="/dummy/user1.png" alt="Picture of Helena Peabody" />
				<a href="javascript:alert('opens the user profile page');window.location.assign('profile-friend.html');" title="Link to the profile page of Tina Kennard">Tina Kennard</a>
				<a href="javascript:alert('opens the user profile page');window.location.assign('profile-friend.html');" title="Link to the profile page of Helena Peabody">Helena Peabody</a>
			</div>

			<!-- MATCH PREVIEW MODULE -->
			<div class="match-preview small">
				<img src="/dummy/user2.png" alt="Picture of Tina Kennard" />
				<a href="javascript:alert('opens the matching page');window.location.assign('match.html');" title="Link to the matching page of Tina Kennard and Helena Peabody" class="button-match">match</a>
				<img src="/dummy/user1.png" alt="Picture of Helena Peabody" />
				<a href="javascript:alert('opens the user profile page');window.location.assign('profile-friend.html');" title="Link to the profile page of Tina Kennard">Tina Kennard</a>
				<a href="javascript:alert('opens the user profile page');window.location.assign('profile-friend.html');" title="Link to the profile page of Helena Peabody">Helena Peabody</a>
			</div>
		</div>

		<div id="column-right">
			<!-- TODO move into module  snip -->
			
			<div class="bblm-dates-upcoming" />	

			<div class="bblm-friends-list-right" />
			
			<div class="bblm-recent-activity" />
						
			<div class="bblm-top-leaderboard" />
			<!-- /snip -->
		</div>
	</div>
</section>

<div class="bblm-footer-end" />
