<div class="bblm-header-menu" />

<section class="main">
	<div class="wrapper">

		<div id="column-left">
			<div class="bblm-winks-received" id="wink"> <!-- View: Winks.Received --> </div>

			<div class="bblm-matches-singles" id="matches-for-you"> <!-- View: Matches.Singles --> </div>

			<div class="bblm-matches-couples" id="match-your-friends"> <!-- View: Matches.Couples --> </div>
		</div>

		<div class="bblm-sidebar-panels" id="column-right"></div>
	</div>
</section>

<div class="bblm-footer-end" />
