<!-- TODO: merge into dashboard -->

<div class="bblm-header-menu"></div>

<!-- MAIN SECTION -->
<section class="main">
	<div class="wrapper">

		<!-- LEFT COLUMN -->
		<div id="column-left">
			
			<div id="welcome">
				<!-- WELCOME NOTE -->
				<div id="welcome-message">
					<h1>Welcome to Freya Love</h1>
					<p>Intro text... Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper.</p>
					<p>Donec ullamcorper nulla non metus auctor fringilla. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod.</p>
					<p>Enjoy yourself, Karen</p>
				</div>
				<!-- INVITE FROM FACEBOOK AD -->
				<div id="facebook-ad">
					<h2>Invite Your Friends</h2>
					<ul id="facebook-friends-list">
						<li><img src="/dummy/user1.png" alt="Picture of Bette Porter" /></li>
						<li><img src="/dummy/user2.png" alt="Picture of Helena Peabody" /></li>
						<li><img src="/dummy/user1.png" alt="Picture of Bette Porter" /></li>
						<li><img src="/dummy/user2.png" alt="Picture of Helena Peabody" /></li>
						<li><img src="/dummy/user1.png" alt="Picture of Bette Porter" /></li>
						<li><img src="/dummy/user2.png" alt="Picture of Helena Peabody" /></li>
						<li><img src="/dummy/user1.png" alt="Picture of Bette Porter" /></li>
						<li><img src="/dummy/user2.png" alt="Picture of Helena Peabody" /></li>
						<li><img src="/dummy/user1.png" alt="Picture of Bette Porter" /></li>
						<li><img src="/dummy/user2.png" alt="Picture of Helena Peabody" /></li>
						<li><img src="/dummy/user1.png" alt="Picture of Bette Porter" /></li>
						<li><img src="/dummy/user2.png" alt="Picture of Helena Peabody" /></li>
					</ul>
					
					
					<a class="invite" href="javascript:alert('opens the facebook invite popup');" type="button" title="Button to open Facebook Invitation popup">Invite others...</a>
				</div>
			</div>
			
			
			<!-- POSSIBLE MATCHES -->
			<h2>Possible Matches for You <a href="javascript:alert('opens a page that lists all possible matches for you');window.location.assign('user-list.html');" class="see-more" title="See all possible matches for you">browse all</a></h2>
			
			<!-- USER PREVIEW MODULE MEDIUM -->
			<div class="user-preview-medium">
				<img src="/dummy/user1.png" alt="Picture of Bette Porter" />
				<a href="javascript:alert('opens the user profile page');window.location.assign('profile-friend.html');" title="Link to the profile page of Bette Porter">Bette Porter</a>
				<p class="al">aged 41, in Singapore</p>
				<p class="likes"><em>Likes:</em> Twilight, Justin Bieber, Drag Racing, Fusce Elit, Malesuada, Ullam</p>
				<p class="about">
					Maecenas faucibus mollis interdum? Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.
					<a href
				<a href="javascript:alert('opens the user profile page');window.location.assign('profile-friend.html');" title="Read more aboutBette Porter">&hellip;see more</a>
			</div>

			<!-- USER PREVIEW MODULE MEDIUM -->
			<div class="user-preview-medium">
				<img src="/dummy/user1.png" alt="Picture of Bette Porter" />
				<a href="javascript:alert('opens the user profile page');window.location.assign('profile-friend.html');" title="Link to the profile page of Bette Porter">Bette Porter</a>
				<p class="al">aged 41, in Singapore</p>
				<p class="likes"><em>Likes:</em> Twilight, Justin Bieber, Drag Racing, Fusce Elit, Malesuada, Ullam</p>
				<p class="about">
					Maecenas faucibus mollis interdum? Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.<br/ >
					<a href
				<a href="javascript:alert('opens the user profile page');window.location.assign('profile-friend.html');" title="Read more aboutBette Porter">&hellip;see more</a>
			</div>

			<!-- CAROUSEL -->
			<ul class="carousel"><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li></ul>

			
			<!-- MATCH FRIENDS -->
			<h2>Match Your Friends <a href="javascript:alert('opens a page that lists all friends to match');window.location.assign('match.html');" class="see-more" title="See all friends you could match">browse all</a></h2>
			
			<!-- MATCH PREVIEW MODULE -->
			<div class="match-preview">
				<img src="/dummy/user2.png" alt="Picture of Tina Kennard" />
				<a href="javascript:alert('opens the matching page');window.location.assign('match.html');" title="Link to the matching page of Tina Kennard and Helena Peabody" class="button-match">match</a>
				<img src="/dummy/user1.png" alt="Picture of Helena Peabody" />
				<a href="javascript:alert('opens the user profile page');window.location.assign('profile-friend.html');" title="Link to the profile page of Tina Kennard">Tina Kennard</a>
				<a href="javascript:alert('opens the user profile page');window.location.assign('profile-friend.html');" title="Link to the profile page of Helena Peabody">Helena Peabody</a>
			</div>

			<!-- MATCH PREVIEW MODULE -->
			<div class="match-preview">
				<img src="/dummy/user2.png" alt="Picture of Tina Kennard" />
				<a href="javascript:alert('opens the matching page');window.location.assign('match.html');" title="Link to the matching page of Tina Kennard and Helena Peabody" class="button-match">match</a>
				<img src="/dummy/user1.png" alt="Picture of Helena Peabody" />
				<a href="javascript:alert('opens the user profile page');window.location.assign('profile-friend.html');" title="Link to the profile page of Tina Kennard">Tina Kennard</a>
				<a href="javascript:alert('opens the user profile page');window.location.assign('profile-friend.html');" title="Link to the profile page of Helena Peabody">Helena Peabody</a>
			</div>
		</div>

		<!-- RIGHT COLUMN -->
		<div id="column-right">
		
			<!-- TODO move into module  snip -->
			<div class="bblm-dates-upcoming" />	

			<div class="bblm-friends-list-right" />
			
			<div class="bblm-recent-activity" />
			
			<div class="bblm-top-leaderboard" />
			<!-- /snip -->

		</div>
	</div>
</section>

<div class="bblm-footer-end"></div>