<div class="partial header-top"></div>
	
<!-- MAIN SECTION -->
<section id="main">
	<div class="wrapper">

		<!-- LEFT COLUMN -->
		<div id="column-left">
		
			<!-- MESSAGING TABS -->
			<ul id="messaging-tabs">
				<li>Inbox</li>
				<li>Archive</li>
				<li>Sent Messages</li>
			</ul>
			
			<a class="button" href="javascript:alert('opens the new message popup');" type="button" title="Create a new message">Create New Message</a>
			
			<div id="messaging-controls">
				<form id="messaging-search" method="get" name="messaging-search" action="#" role="search" />
					<input type="text" maxlength="100">
				</form>
			</div>
			
			<!-- MESSAGE LIST -->
			
			<!--#include virtual="modules/message-summary.html" -->
			
			<!-- MESSAGE SUMMARY MODULE VARIATION -->
			<div class="message-summary">
				<a href="javascript:alert('opens the friend's profile page');window.location.assign('profile-friend.html');" title="Link to the page of Tina Kennard"><img src="./dummy/user2.png" alt="Picture of Tina Kennard" /></a>
				<p>
					<a href="javascript:alert('opens the friend's profile page');window.location.assign('profile-friend.html');" title="Link to the page of Tina Kennard">Tina Kennard</a>,
					<a href="javascript:alert('opens the friend's profile page');window.location.assign('profile-friend.html');" title="Link to the page of Bette Porter">Bette Porter</a> and
					<a href="javascript:alert('opens the friend's profile page');window.location.assign('profile-friend.html');" title="Link to the page of Alice Pieszecki">Alice Pieszecki</a>
					<span class="timestamp">7 hours ago</span>
				</p>
				<ul class="message-actions">
		        	<li><a href="javascript:alert('mark unread');" title="Mark message unread">U</a></li>
		        	<li><a href="javascript:alert('archive');" title="Archive message">A</a></li>
		        	<li><a href="javascript:alert('delete');" title="Delete message">D</a></li>
		        </ul>
				<p>
					<a href="javascript:alert('opens the message page');window.location.assign('message.html');" title="Link to the message of Bette Porter">
						Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam...
					</a>
				</p>
			</div>

			<!--#include virtual="modules/message-summary.html" -->
			<!--#include virtual="modules/message-summary.html" -->
			<!--#include virtual="modules/message-summary.html" -->
			<!--#include virtual="modules/message-summary.html" -->
					

		</div>

		<!-- RIGHT COLUMN -->
		<div id="column-right">
		
			<div class="partial dates-upcoming" />	

			<div class="partial friends-list-right" />
			
			<div class="partial recent-activity" />
			
			<div class="partial top-leaderboard" />
					
		</div>
	</div>
</section>

<div class="partial footer-end"></div>