<div class="bblm-header-public" />

<section id="main">
	<div class="wrapper">
		<section class="landing">

			<article class="splash">
				<h1>Break Your Dating Pattern</h1>
				<figure>
					<iframe src="https://www.youtube.com/embed/ks2tmgjWi2c?modestbranding=1&rel=0&showinfo=0&theme=light" frameborder="0" allowfullscreen></iframe>
				</figure>
				<p>FreyaLove helps lesbians find love through personalised match making.</p>
				<p><small>We won't spam your wall, pinky-promise!</small></p>
			</article>

			<address>
				<a class="button social twitter icon" href="https://twitter.com/karen_freyalove" target="_blank">FreyaLove on Twitter</a>
				<a class="button social facebook icon like" href="https://www.facebook.com/karenfreyalove" target="_blank">FreyaLove on Facebook</a>
			</address>

		</section>
	</div>
</section>

<div class="bblm-footer-end" />