<section id="main">
	<div class="wrapper">
		<section id="landing">
			<h1><a href="/" title="Go to the FreyaLove home">FreyaLove</a></h1>
			<a id="button facebook" href="/dashboard">Sign in to FreyaLove using your Facebook account</a>
			<div class="fb-login-button" scope="email,user_checkins" data-show-faces="true" data-width="200" data-max-rows="1">Login with Facebook</div>
			<div id="landing-header">
				<a href="/"><img src="/img/logo.png"/></a>
				<a href="#" id="fb-login"></a>
			</div>
			<div id="landing-intro">
				<video src="movie.ogg" width="400" height="300" ></video>
				<div id="intro-text">
					<h1>Break the dating pattern</h1>
					<h4>Stop talking, brain thinking. Hush. It's art! A statement on modern society, 'Oh Ain't Modern Society Awful?'! I am the Doctor, and you are the Daleks! All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? Sorry, checking all the water in this area; there's an escaped fish.</h4>
					<h4>Break the dating pattern!</h4><br>
					<a href="#" id="call-to-action">Start dating now. It's free!</a>
				</div>
			</div>
			
		</section>
	</div>
</section>

<div class="partial footer-end" />
