<div class="partial header-top"></div>
	
<!-- MAIN SECTION -->
<section id="main">
	<div class="wrapper">

		<!-- LEFT COLUMN -->
		<div id="column-left">
		
			<!-- PEOPLE THAT SMILED AT ME -->
			<h2>Top leaderboard Amongst Your Friends</h2>
			
			<div class="partial leaderboard-full" />
			
			<!-- TODO: shift into leaderboard-full view -->

			<!--#include virtual="modules/user-preview-small.html" -->
			
			<div class="match-couple-tiny">
				<img src="./dummy/user1.png" alt="Picture of Bette Porter" />
				<img src="./dummy/user2.png" alt="Picture of Tina Kennard" />
				<div>&hearts;</div>
			</div>
			<div class="match-couple-tiny">
				<img src="./dummy/user1.png" alt="Picture of Bette Porter" />
				<img src="./dummy/user2.png" alt="Picture of Tina Kennard" />
				<div>&hearts;</div>
			</div>
			<div class="match-couple-tiny">
				<img src="./dummy/user1.png" alt="Picture of Bette Porter" />
				<img src="./dummy/user2.png" alt="Picture of Tina Kennard" />
				<div>&hearts;</div>
			</div>
			<div class="match-couple-tiny">
				<img src="./dummy/user1.png" alt="Picture of Bette Porter" />
				<img src="./dummy/user2.png" alt="Picture of Tina Kennard" />
				<div>&hearts;</div>
			</div>
			<div class="match-couple-tiny">
				<img src="./dummy/user1.png" alt="Picture of Bette Porter" />
				<img src="./dummy/user2.png" alt="Picture of Tina Kennard" />
				<div>&hearts;</div>
			</div>
			<div class="match-couple-tiny">
				<img src="./dummy/user1.png" alt="Picture of Bette Porter" />
				<img src="./dummy/user2.png" alt="Picture of Tina Kennard" />
				<div>&hearts;</div>
			</div>
				
			<hr/>
			
			<!--#include virtual="modules/user-preview-small.html" -->
			
			<div class="match-couple-tiny">
				<img src="./dummy/user1.png" alt="Picture of Bette Porter" />
				<img src="./dummy/user2.png" alt="Picture of Tina Kennard" />
				<div>&hearts;</div>
			</div>
			<div class="match-couple-tiny">
				<img src="./dummy/user1.png" alt="Picture of Bette Porter" />
				<img src="./dummy/user2.png" alt="Picture of Tina Kennard" />
				<div>&hearts;</div>
			</div>
			<div class="match-couple-tiny">
				<img src="./dummy/user1.png" alt="Picture of Bette Porter" />
				<img src="./dummy/user2.png" alt="Picture of Tina Kennard" />
				<div>&hearts;</div>
			</div>
			<div class="match-couple-tiny">
				<img src="./dummy/user1.png" alt="Picture of Bette Porter" />
				<img src="./dummy/user2.png" alt="Picture of Tina Kennard" />
				<div>&hearts;</div>
			</div>
				
			<hr/>
			
			<!--#include virtual="modules/user-preview-small.html" -->
			
			<div class="match-couple-tiny">
				<img src="./dummy/user1.png" alt="Picture of Bette Porter" />
				<img src="./dummy/user2.png" alt="Picture of Tina Kennard" />
				<div>&hearts;</div>
			</div>
			<div class="match-couple-tiny">
				<img src="./dummy/user1.png" alt="Picture of Bette Porter" />
				<img src="./dummy/user2.png" alt="Picture of Tina Kennard" />
				<div>&hearts;</div>
			</div>
				
			<hr/>
			
			<!--#include virtual="modules/user-preview-small.html" -->
			
			<div class="match-couple-tiny">
				<img src="./dummy/user1.png" alt="Picture of Bette Porter" />
				<img src="./dummy/user2.png" alt="Picture of Tina Kennard" />
				<div>&hearts;</div>
			</div>
				
			<hr/>
			
			<!--#include virtual="modules/user-preview-small.html" -->
				
			<hr/>

			<!--#include virtual="modules/user-preview-small.html" -->
				
			<hr/>
			

				
		</div>

		<!-- RIGHT COLUMN -->
		<div id="column-right">

			<div class="partial dates-upcoming" />	

			<div class="partial friends-list-right" />
			
			<div class="partial recent-activity" />
			
			<div class="partial top-leaderboard" />
			
		</div>
	</div>
</section>

<div class="partial footer-end"></div>