<div class="bblm-header-menu"></div>
	
<!-- MAIN SECTION -->
<section class="main">
	<div class="wrapper">

		<!-- LEFT COLUMN -->
		<div class="column-left">
		
			<h2>Top Matchmakers Amongst Your Friends</h2>
			
			<div class="bblm-leaderboard-full" />
				
		</div>

		<!-- RIGHT COLUMN -->
		<div id="column-right">

			<!-- TODO move into module  snip -->
			<div class="bblm-dates-upcoming" />	

			<div class="bblm-friends-list-right" />
			
			<div class="bblm-recent-activity" />
			
			<div class="bblm-top-leaderboard" />
			<!-- /snip -->
			
		</div>
	</div>
</section>

<div class="bblm-footer-end"></div>