<div class="partial header-top"></div>
	
<!-- MAIN SECTION -->
<section id="main">
	<div class="wrapper">

		<!-- LEFT COLUMN -->
		<div id="column-left">
		
			<!-- MESSAGE HEADER -->
			<h2>Conversation With Tina Kennard, Bette Porter and Anabelle Hernandez</h2>
			
			<ul class="message-actions">
	        	<li><a href="javascript:alert('mark unread');" title="Mark message unread">U</a></li>
	        	<li><a href="javascript:alert('archive');" title="Archive message">A</a></li>
	        	<li><a href="javascript:alert('delete');" title="Delete message">D</a></li>
	        </ul>

	        <!-- CONVERSATION -->
	        <div class="message">
				<a href="javascript:alert('opens the friend's profile page');window.location.assign('profile-friend.html');" title="Link to the page of Anabelle Hernandez"><img src="./dummy/user3.png" alt="Picture of Anabelle Hernandez" /></a>
				<p>
					<a href="javascript:alert('opens the friend's profile page');window.location.assign('profile-friend.html');" title="Link to the page of Anabelle Hernandez">Anabelle Hernandez</a>
					<span class="timestamp">wrote 7 days ago</span>
				</p>
				<p>Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam...</p>
				<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor.</p>
				<p>Curabitur blandit tempus porttitor. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
				<p>Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
				<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
			</div>

	        <div class="message">
				<a href="javascript:alert('opens the friend's profile page');window.location.assign('profile-friend.html');" title="Link to the page of Bette Porter"><img src="./dummy/user1.png" alt="Picture of Bette Porter" /></a>
				<p>
					<a href="javascript:alert('opens the friend's profile page');window.location.assign('profile-friend.html');" title="Link to the page of Bette Porter">Bette Porter</a>
					<span class="timestamp">wrote 5 hours ago</span>
				</p>
				<p>Curabitur blandit tempus porttitor. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
				<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
			</div>

	        <div class="message">
				<a href="javascript:alert('opens the friend's profile page');window.location.assign('profile-friend.html');" title="Link to the page of Tina Kennard"><img src="./dummy/user2.png" alt="Picture of Tina Kennard" /></a>
				<p>
					<a href="javascript:alert('opens the friend's profile page');window.location.assign('profile-friend.html');" title="Link to the page of Tina Kennard">Tina Kennard</a>
					<span class="timestamp">wrote 2 minutes ago</span>
				</p>
				<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor.</p>
			</div>
			
			<div id="message-reply">
				<form id="messaging-reply" method="get" name="messaging-reply" action="#" role="reply">
					<textarea>Enter your reply&hellip;</textarea>
					<input type="button" title="Send" name="Send" value="Send"/>
				</form>
			</div>
	        	
									

		</div>

		<!-- RIGHT COLUMN -->
		<div id="column-right">
		
			<!--#include virtual="modules/dates-upcoming.html" -->

			<!--#include virtual="modules/friends-list-right.html" -->

			<!--#include virtual="modules/recent-activity.html" -->

			<!--#include virtual="modules/top-matchmakers.html" -->				
			
		</div>
	</div>
</section>

<div class="partial footer-end"></div>