<!-- TODO: MERGE WITH FOF and F -->

<div class="bblm-header-top"></div>

<!-- MAIN SECTION -->
<section class="main">
	<div class="wrapper">

		<!-- LEFT COLUMN -->
		<div id="column-left">
			
			<div class="bblm-user-profile" />

		</div>


		<!-- RIGHT COLUMN -->
		<div id="column-right">
		
			<!-- TODO move into module  snip -->
			<div class="bblm-dates-upcoming" />	

			<div class="bblm-friends-list-right" />
			
			<div class="bblm-recent-activity" />
			
			<div class="bblm-top-leaderboard" />
			<!-- /snip -->
			
		</div>
	</div>
</section>

<div class="bblm-footer-end"></div>