<div class="partial header-top"></div>
	
<!-- MAIN SECTION -->
<section id="main">
	<div class="wrapper">

		<!-- LEFT COLUMN -->
		<div id="column-left">
		
			<!-- PEOPLE THAT SMILED AT ME -->
			<h2>Search Results for "Bette"</h2>

			<!--#include virtual="modules/user-preview-small.html" -->
			<!--#include virtual="modules/user-preview-small.html" -->
			<!--#include virtual="modules/user-preview-small.html" -->
			<!--#include virtual="modules/user-preview-small.html" -->
			<!--#include virtual="modules/user-preview-small.html" -->

				
		</div>

		<!-- RIGHT COLUMN -->
		<div id="column-right">
		
			<!--#include virtual="modules/dates-upcoming.html" -->

			<!--#include virtual="modules/friends-list-right.html" -->

			<!--#include virtual="modules/recent-activity.html" -->

			<!--#include virtual="modules/top-matchmakers.html" -->				
			
		</div>
	</div>
</section>

<div class="partial footer-end"></div>