<div class="partial header-top"></div>
	
<!-- MAIN SECTION -->
<section class="main">
	<div class="wrapper">

		<!-- LEFT COLUMN -->
		<div id="column-left">
		
			<!-- PEOPLE THAT SMILED AT ME -->
			<h2>Search Results for "Bette"</h2>
			
			<!-- TODO: iterate over the given collection of matches -->
			<div class="partial user-preview-small" />
			<div class="partial user-preview-small" />
			<div class="partial user-preview-small" />
			<div class="partial user-preview-small" />
				
		</div>

		<!-- RIGHT COLUMN -->
		<div id="column-right">
		
			<div class="partial dates-upcoming" />	

			<div class="partial friends-list-right" />
			
			<div class="partial recent-activity" />
			
			<div class="partial top-leaderboard" />
			
		</div>
	</div>
</section>

<div class="partial footer-end"></div>