<div class="bblm-header-top"></div>
	
<!-- MAIN SECTION -->
<section class="main">
	<div class="wrapper">

		<!-- LEFT COLUMN -->
		<div id="column-left">
		
			<h2>Search Results for "Bette"</h2>
			
			<!-- TODO: FOREACH -->
			<div class="bblm-user-preview-small" />
			<div class="bblm-user-preview-small" />
			<div class="bblm-user-preview-small" />
			<div class="bblm-user-preview-small" />
				
		</div>

		<!-- RIGHT COLUMN -->
		<div id="column-right">
		
			<!-- TODO move into module  snip -->
			<h3>Upcoming Dates</h3>
			<div class="bblm-dates-upcoming" />	

			<h3>Your Friends</h3>
			<a href="/users" class="see-more" title="See all your friends on FreyaLove">see all</a>
			<div class="bblm-friends-list-right" />
			
			<h3>Recent Activity</h3>
			<div class="bblm-recent-activity" />
			
			<h3>Top Matchmakers</h3>
			<a href="/leaderboard" class="see-more" title="See the best matchmakers amongst your friends">see all</a>
			
			<div class="bblm-top-leaderboard" />
			<!-- /snip -->
			
		</div>
	</div>
</section>

<div class="bblm-footer-end"></div>