.friends-all
	sidebar-spacings()
	header
		h3
			sidebar-spacing-bottom()
	article
		tray()
		li
			photo-spacing(3px, 4n)
			img
				profile-image()
		p
			font-size: 0.875rem
		.invite-more
			add-more-link()
			sidebar-hyperlinks()