.friends-all
  sidebar-spacings()
  header
    h3
      sidebar-heading()
  article
    tray()
    li
      photo-spacing(4px, 4n)
      img
        profile-image()
    .invite-more
      add-more-link()
      sidebar-hyperlinks()