.friends-common
  sidebar-spacings()
  header
    h3
      sidebar-spacing-bottom()
    &:after
      sidebar-heading-underline()
  article
    li
      photo-spacing(4px, 4n)
      img
        profile-image()
    a 
      sidebar-hyperlinks()
    p 
      sidebar-content()