img#profile-pic
	profile-img()
#profile-snapshot	
	profile-snapshot-spacing()
	h1
		profile-name()
	#profile-snapshot-list
		profile-details-list()
		li
			display block
			margin 0 0 5px 0
			input[type=checkbox]
				display none
				&:checked
					~ p
						color #aaa
						font-style italic
					+ label
						background url('../img/icn_invisible.png') no-repeat center center
				+ label
					background url('../img/icn_visible.png') no-repeat center center
			label, p
				display inline-block
			label
				height 20px
				width 25px
				margin 0 10px 0 0
				cursor pointer
			p
				color black
				font-style normal
				margin 0
				vertical-align top
				width 410px