<!-- TODO: fill data -->
<div class="user-preview-medium">
	<div class="summary-info">
		<img src="/dummy/user1.png" alt="Picture of Jenny Schecter" />		
	</div>
	<div class="expanded-info">
		<img src="/dummy/user1.png" alt="Picture of Jenny Schecter" />
		<div id="expanded-info-right">
			<a href="/profile/{{id}}" id="name" title="Link to the profile page of Jenny Schecter">Jenny Schecter</a>
			<p class="al">aged 41, in Singapore</p>
			<p class="likes">
				<strong>Likes:</strong> Twilight, Justin Bieber, Drag Racing, Fusce Elit, Malesuada, Ullam
			</p>
		</div>
		<p class="about">
			<strong>Maecenas faucibus mollis interdum?</strong><br>
			Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur...  <a href="/profile/{{id}}">see more</a>
		</p>
		
		<a href="/profile/{{id}}" id="check-her-out" title="Read more about Jenny Schecter">Check her out!</a>
	</div>
</div>
