<!-- TODO: REPLACE DUMMY INFO -->

<img id="profile-pic" src="{{profileImage}}" alt="Your profile picture" />
<div id="profile-snapshot">
	<h1>
		{{firstName}} {{lastName}}
		{{#isMe}}
			<!-- TODO: remove after testing -->
			me
		{{/isMe}}
		{{#isFriend}}
			<!-- TODO: remove after testing -->
			friend
		{{/isFriend}}
		{{#isFof}}
			<!-- TODO: remove after testing -->
			fof
		{{/isFof}}
	</h1>
	<a href="/profile-edit.html" class="see-more" type="button" title="Button to edit my profile">Edit Profile</a>
	<ul id="profile-snapshot-list">
		<li>
			{{#isMe}}
				<input type="checkbox" id="toggle-1">
				<label for="toggle-1"></label>
				<p>
			{{/isMe}}
				Born {{dateOfBirth}}
			{{#isMe}}
				</p>
			{{/isMe}}
		</li>
		<li>
			{{#isMe}}
				<input type="checkbox" id="toggle-2">
				<label for="toggle-2"></label>
			{{/isMe}}
				<!-- FIXME(Sayanee): Change CSS not to require p tag - see above/below -Wolf -->
				<p>Lives in {{location}}</p>
			{{#isMe}}
			{{/isMe}}
		</li>
		<li>
			{{#isMe}}
				<input type="checkbox" id="toggle-3">
				<label for="toggle-3"></label>
				<p>
			{{/isMe}}
				From {{origin}}
			{{#isMe}}
				</p>
			{{/isMe}}
		</li>
		<li>
			{{#isMe}}
				<input type="checkbox" id="toggle-4">
				<label for="toggle-4"></label>
				<p>
			{{/isMe}}
				25 friends on FreyaLove
			{{#isMe}}
				</p>
			{{/isMe}}
		</li>
		<li>
			{{#isMe}}
				<input type="checkbox" id="toggle-5">
				<label for="toggle-5"></label>
				<p>
			{{/isMe}}
				Speaks {{languages}}
			{{#isMe}}
				</p>
			{{/isMe}}
		</li>
		<li>
			{{#isMe}}
				<input type="checkbox" id="toggle-6">
				<label for="toggle-6"></label>
				<p>
			{{/isMe}}
				{{about}}
			{{#isMe}}
				</p>
			{{/isMe}}
		</li>	
	</ul>
</div>

<!-- MY FACEBOOK LIKES -->
<h2>My Likes from Facebook</h2>

<p>{{likes}}</p>

<ul id="profile-likes">
	<li><em>Music:</em>{{likeMusic}}</li>
	<li><em>Books:</em>{{likeBooks}}</li>
	<li><em>Movies:</em>{{likeMovies}}</li>
	<li><em>Television:</em>{{likeTv}}</li>
	<li><em>Games:</em>{{likeGames}}</li>
	<li><em>Athletes:</em>{{likeAthletes}}</li>
	<li><em>Sports Teams:</e{{likeSportsTeams}}</li>
	<li><em>Sports:</em>{{likeSports}}</li>
	<li><em>Activities:</em>{{likeActivities}}</li>
	<li><em>Interests:</em>{{likeInterests}}</li>
	<li><em>Inspirational People:</e{{likePeople}}</li>
</ul>

<!-- MY FACEBOOK QUOTES -->
<h2>My Favourite Quotes from Facebook</h2>

<ul id="profile-quotes">
	<li>{{likeQuotes}}</li>
</ul>

{{#isFriend}}
	<!-- FRIENDS ON FL -->
	<h2>Tina's Friends on FreyaLove: 25 <a href="javascript:alert('opens a page that lists all the users friends');window.location.assign('user-list.html');" class="see-more" title="See all of Tina's friends on FreyaLove">see all</a></h2>
	
	<ul class="bblm-user-preview-small"><!-- TODO: BBLM iterate --></ul>
{{/isFriend}}

<!-- MY QUESTIONNAIRE SUMMARY -->
<h2>My Questionnaire</h2>
<ul id="profile-questionnaire">
	<li><em>About:</em> Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Fusce, Commodo, Sit Elit Sem, Commodo, Sit Elit Sem, Fusce</li>
	<li><em>Age:</em> 40&ndash;50</li>
	<li><em>Relationship Type:</em> Long Distance</li>
</ul>