#column-left
	display inline-block
	vertical-align top
	width $content-width

	#welcome-message
		display inline-block
		width 395px
		h1
			font-weight 400

	#facebook-ad
		display inline-block
		width 270px
		background-color #fff
		border-radius 3px
		box-shadow 0 0 3px #c6c8c9
		vertical-align top
		h2
			text-align center
			text-transform uppercase
			font-size 1.5rem
			background linear-gradient(top, #f9f9f9, #efefef)
			line-height 3rem
			display block
			color #707070
			border-bottom 1px solid #c6c8c9
		ul#facebook-friends-list
			padding 10px 7px
			margin 0
			li
				display inline-block
				margin 0 3px 3px
			img
				display inline-block
				width 54px
				height 54px
				border 3px solid white
				box-shadow 1px 1px 4px #b3b3b3
		a
			text-align center
			display block
			padding 0 0 20px 0
			line-height 0.8em

	#profile-pic
		width 200px
		height 200px
		display inline-block
		vertical-align top
		margin-right 10px
	h1
		font-weight 700
	#profile-snapshot
		display inline-block
		width 450px
ul#profile-snapshot-list
	padding 0
	li
		display block
		input[type=checkbox]
			display none
			&:checked
				~ p
					color black
					font-style normal
				+ label
					background url('../img/icn_visible.png') no-repeat center center
			+ label
				background url('../img/icn_invisible.png') no-repeat center center
		label, p
			display inline-block
		label
			height 20px
			width 25px
			margin 0 10px 0 0
			cursor pointer
		p
			color #aaa
			font-style italic
			margin 0
			vertical-align top
			width 410px

#wink
	h2
		text-align center
		display block
		font-weight 700
#winked-list
	padding 20px 30px 30px 30px
	margin 20px 0 0 0
	li
		margin 0 10px

.bblm-user-preview-small
	display inline-block
.user-preview-small
	width 120px
	height 155px
	box-shadow 0 0 2px #aaa
	background-color #fff
	padding 8px
	a
		font-size 0.875rem
		display block
		text-align center
		margin 5px 0 0 0

div.user-preview-medium, div.user-preview-small, div.user-preview-tiny
	display inline-block

div.user-preview-small, div.user-preview-medium
	img
		width 104px
		height 104px
		display inline-block

ul#winked-list
	display block
	border-radius 4px
	box-shadow 0 0 3px white inset
	background-color rgba(226, 227, 228, 0.35)
	border 1px #d2d3d3 solid

#column-right
	display inline-block
	margin-left 24px
	vertical-align top
	width $sidebar-width - @margin-left
	h3
		margin-bottom 10px
	hr
		margin-bottom 10px
	> div
		margin-bottom 15px
	p, li
		font-size 0.875rem //14px
		color #666
		margin 0
		display inline-block
	p.invite-more
		vertical-align top
		display inline-block
		margin 23px 0 0 8px

	ul.activity
		padding 0
		margin 0
		li
			margin 0 0 15px 10px
	.bblm-top-leaderboard ol
		padding 0
		margin 0
		list-style-position inside
		display
		color #b2b3b3
		font-weight 700
		counter-reset item
		img
			height 54px
			width 54px
		li
			display block
			font-size 2.25rem
			margin 10px 0
			&:before
				content counter(item) " "
				counter-increment item
			img
				border 3px solid white
				box-shadow 1px 1px 4px #b3b3b3
				vertical-align middle
			.user-preview-points-info
				display inline-block
				a, p
					font-size 0.875rem
					display block

	.friends-list-dates
		padding 4px
		background-color #e2e3e4
		border-radius 4px
		width 100%
		border 1px #d2d3d3 solid
		box-shadow 0 0 2px #fff inset
		li
			display inline-block
			width 60px
			height 60px
			border 3px solid white
			box-shadow 1px 1px 4px #b3b3b3
			margin 0 3px 4px 0
			a
				width 100%
				height 100%
				display inline-block
		img
			width 54px
			height 54px

	.add-more
		background url('../img/add.png') no-repeat center center

#column-left, #column-right
	a
		color #9f3647
		font-weight bold
		font-size 0.875rem
		&:link, &:visited
			text-decoration none
		&:hover, &:active
			text-decoration underline
