@import 'mixins/malarkey'
@import 'mixins/nib'
@import 'mixins/normalize'

global-normalize()

*
	box-sizing border-box

body
	font-family 'Bariol', Helvetica, Arial, sans-serif
	font-size 12pt /*16 px*/
	line-height 1.25em  /*20 px*/
	//	background-image url('../dummy/grid.png')
	//	background-repeat repeat-y
	//	background-position top
	background-color #efefef

a
	color #a63e00
	text-decoration none

	.button
		clear both
		color white
		height 2em
		text-align center
		display block
		background-color blue
		border 1px solid black

h2
	clear both
	margin-top 1.25em
	font-size 1.5em
	line-height 1.25em
	text-transform uppercase
	color #62228f

	a.see-more
		font-size 0.6em
		text-transform none
		margin-left 0.3em
		font-weight normal

h3
	padding-top 10px

ul

	li
		display inline-block
		float left

	.carousel
		width 100px
		margin 0 auto
		height 20px
		background-color grey
		clear both

input
	border 1px solid #333

div.wrapper
	position relative
	width 944px
	margin 0 auto

section#header
	width 100%
	background-color #62228f
	background -moz-linear-gradient(top, #62228f, #3f0a49)
	background -ms-linear-gradient(top, #62228f, #3f0a49)
	background -o-linear-gradient(top, #62228f, #3f0a49)
	background -webkit-gradient(linear, 0% 0%, 0% 100%, from(#62228f), to(#3f0a49))
	background -webkit-linear-gradient(top, #62228f, #3f0a49)
	font-weight 200
	height 50px
	margin-bottom 2.5em

	h1, form, ul, a#nav-name, a#nav-logout
		position absolute

	h1 a, a#nav-name
		display block
		top 9px
		line-height 32px

	ul li, a#nav-logout
		display block
		top 11px
		width 28px
		height 28px
		line-height 28px
		border 1px solid rgba(255, 255, 255, 0.7)
		border-radius 3px
		text-align center
		//	color rgba(255, 255, 255, 0.0)

	a
		color #fff
		color rgba(255, 255, 255, 0.7)
		:hover
			color #ff9f00

	h1
		width 440px

		a
			color rgba(255, 255, 255, 0.0)
			background-image url('../img/logo_modified.png')
			background-repeat no-repeat

	form
		top 10px
		left 392px

		input
			background-color #fff
			border-radius 5px
			height 30px
			width 272px
			box-shadow inset 0px 0px 2px 2px rgba(0, 0, 0, 0.1)

	ul
		left 680px

		li
			margin-right 5px
			float left

			:last-child
				margin-right 0px

	a#nav-name
		left 774px
		margin 0 5px
		text-align right
		width 132px

	a#nav-logout
		right 0px

section#main
	clear both

#column-left
	float left
	width 656px

#column-right
	float left
	margin-left 24px
	width 264px

#column-right h2
	padding-bottom 0.5em
	border-bottom 1px solid rgba(0, 0, 0, 0.1)
	box-shadow 0px 1px -1px 1px white
	margin-bottom 0.3em

section#footer
	clear both
	width 100%
	height 80px
	background-color grey
	margin-top 80px
	padding-top 20px

section.popup
	width 200px
	z-index 5
	position absolute
	top 40px
	background-color grey
	display none

#popup-notifications
	left 680px

#popup-messages
	left 680px

#popup-dates
	left 680px

div.user-preview
	float left
	width 328px

div.user-preview img
	float left
	margin-bottom 20px

div.small, div.medium
	img
		width 104px
		height 104px

div.tiny, ul.tiny
	img
		float left
		width 60px
		height 60px

div.tiny p
	float left
	width 196px

#column-left

	#welcome-message
		width 416px
		float left

	#facebook-ad
		float left
		width 240px

		img
			float left
			width 60px
			height 60px

div.match-preview
	width 328px
	float left

	a
		display inline-block
