@import 'mixins/malarkey'
@import 'mixins/nib'
@import 'mixins/normalize'

global-normalize()

*
	box-sizing border-box

@import 'variables'
@import 'fonts'	

body
	font-family 'Bariol', Helvetica, Arial, sans-serif
	font-size 12pt // 16 px
	line-height 1.25em  // 20 px
	background url("../img/bg.jpg") #efefef repeat

a
	color #a63e00
	text-decoration none

	.button
		clear both
		color white
		height 2em
		text-align center
		display block
		background-color blue
		border 1px solid black

h2
	clear both
	margin-top 1.25em
	font-size 1.5em
	line-height 1.25em
	text-transform uppercase
	color #62228f

	a.see-more
		font-size 0.6em
		text-transform none
		margin-left 0.3em
		font-weight normal

h3
	padding-top 10px

ul

	li
		display inline-block
		float left

	.carousel
		width 100px
		margin 0 auto
		height 20px
		background-color grey
		clear both

input
	border 1px solid #333

div.wrapper
	position relative
	width 944px
	margin 0 auto

section#header
	width 100%
	background-color #62228f
	background url("../img/bg_header.jpg") purple repeat-x
	font-weight 200
	height 50px
	margin-bottom 2.5em

	h1, form, ul, a#nav-name, a#nav-logout
		position absolute

	h1 a, a#nav-name
		display block
		top 9px
		line-height 32px

	ul li, a#nav-logout
		display block
		top 11px
		width 28px
		height 28px
		line-height 28px
		//border 1px solid rgba(255, 255, 255, 0.7)
		border-radius 3px
		text-align center
		//	color rgba(255, 255, 255, 0.0)

	a
		color #fff
		color rgba(255, 255, 255, 0.7)
		:hover
			color #ff9f00

	h1
		width 440px
		margin 0.3em 0
		a
			color rgba(255, 255, 255, 0.0)
			background url('../img/logo_modified.png') no-repeat

	form
		top 10px
		left 392px

		input
			background url('../img/icn_search.png') #fff no-repeat 246px 7px
			border-radius 5px
			height 30px
			width 272px
			box-shadow inset 0px 0px 2px 2px rgba(0, 0, 0, 0.1)
			outline 0
			padding 5px
			font-size 0.8em
			&:focus
				box-shadow lighten(purple, 70%) 0px 0px 5px

	ul
		left 680px
		&#nav-popups
			padding 0
			margin 0
			li
				border none
				width 35px
				height 46px
				border-radius 0
				margin-top 2px
				a
					width 100%
					height 100%
					display block
				&:nth-child(1), &:nth-child(2), &:nth-child(3)
					&:hover
						background-color rgba(98, 34, 143, 0.5)
				&:nth-child(1)
					background url('../img/icn_global.png') no-repeat 6px 12px
				&:nth-child(2)
					background url('../img/icn_messages.png') no-repeat 6px 12px
				&:nth-child(3)
					background url('../img/icn_dates.png') no-repeat 6px 12px
				

		li
			margin-right 5px
			float left

			:last-child
				margin-right 0px

	a#nav-name
		left 770px
		margin 0 5px
		padding 0 10px 0 0
		text-align right
		width 132px
		color #d0c0dd
		font-family 'BariolBold', Helvetica, sans-serif
		font-size 0.8em
		background url('../img/ln.png') no-repeat right 0
		&:hover
			text-decoration underline

	a#nav-logout
		right 0px
		width 35px
		height 46px
		top 4px
		background url('../img/icn_power.png') no-repeat 6px 12px
		&:hover
			background-color rgba(98, 34, 143, 0.5)

section#main
	clear both

#column-left
	float left
	width 656px

#column-right
	float left
	margin-left 24px
	width 264px

#column-right h2
	padding-bottom 0.5em
	border-bottom 1px solid rgba(0, 0, 0, 0.1)
	box-shadow 0px 1px -1px 1px white
	margin-bottom 0.3em

section#footer
	clear both
	width 100%
	height 80px
	background-color grey
	margin-top 80px
	padding-top 20px

section.popup
	width 200px
	z-index 5
	position absolute
	top 40px
	background-color grey
	display none

#popup-notifications
	left 680px

#popup-messages
	left 680px

#popup-dates
	left 680px

div.user-preview
	float left
	width 328px

div.user-preview img
	float left
	margin-bottom 20px

div.small, div.medium
	img
		width 104px
		height 104px

div.tiny, ul.tiny
	img
		float left
		width 60px
		height 60px

div.tiny p
	float left
	width 196px

#column-left

	#welcome-message
		width 416px
		float left

	#facebook-ad
		float left
		width 240px

		img
			float left
			width 60px
			height 60px

div.match-preview
	width 328px
	float left

	a
		display inline-block


