#column-left
	display inline-block
	font-size $base-font-size
	vertical-align top
	width $content-width

	#welcome-message
		width 416px
		float left

	#facebook-ad
		float left
		width 240px

		img
			float left
			width 60px
			height 60px