@import mixins

/* GENERAL DEFINITIONS START */

*
	box-sizing: border-box

body
	font-family: 'Bariol', Helvetica, Arial, sans-serif
	font-size: 12pt /*16 px*/
	line-height: 1.25em  /*20 px*/
	//	background-image: url('../dummy/grid.png')
	//	background-repeat: repeat-y
	//	background-position: top
	background-color: #efefef

a
	color: #a63e00
	text-decoration: none
a.button
	clear: both
	color: white
	height: 2em
	text-align: center
	display: block
	background-color: blue
	border: 1px solid black

h2
	clear: both
	margin-top: 1.25em
	font-size: 1.5em
	line-height: 1.25em
	text-transform: uppercase
	color: #62228f
h2 a.see-more
	font-size: 0.6em
	text-transform: none
	margin-left: 0.3em
	font-weight: normal
h3
	padding-top: 10px

ul li
	display: inline-block
	float: left
ul.carousel
	width: 100px
	margin: 0 auto
	height: 20px
	background-color: grey
	clear:both

input
	border: 1px solid #333


/* MAIN MODULES */

div.wrapper
	position: relative
	width: 944px
	margin: 0 auto

section#header
	width: 100%
	background-color: #62228f
	background: -moz-linear-gradient(top, #62228f, #3f0a49)
	background: -ms-linear-gradient(top, #62228f, #3f0a49)
	background: -o-linear-gradient(top, #62228f, #3f0a49)
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#62228f), to(#3f0a49))
	background: -webkit-linear-gradient(top, #62228f, #3f0a49)
	font-weight: 200
	height: 50px
	margin-bottom: 2.5em

section#header h1, section#header form, section#header ul, section#header a#nav-name, section#header a#nav-logout
	position: absolute
section#header h1 a, section#header a#nav-name
	display: block
	top: 9px
	line-height: 32px

section#header ul li, section#header a#nav-logout
	display: block
	top: 11px
	width: 28px
	height: 28px
	line-height: 28px
	border: 1px solid rgba(255, 255, 255, 0.7)
	border-radius: 3px
	text-align: center
	//	color: rgba(255, 255, 255, 0.0)

section#header a
	color: #fff
	color: rgba(255, 255, 255, 0.7)
section#header a:hover
	color: #ff9f00

section#header h1
	width: 440px
section#header h1 a
	color: rgba(255, 255, 255, 0.0)
	background-image: url('../img/logo_modified.png')
	background-repeat: no-repeat

section#header form
	top: 10px
	left: 392px
section#header form input
	background-color: #fff
	border-radius: 5px
	height: 30px
	width: 272px
	box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.1)

section#header ul
	left: 680px
section#header ul li
	margin-right: 5px
	float: left
section#header ul li:last-child
	margin-right: 0px

section#header a#nav-name
	left: 774px
	margin: 0 5px
	text-align: right
	width: 132px
section#header a#nav-logout
	right: 0px

section#main
	clear:both
div#column-left
	float: left
	width: 656px

div#column-right
	float: left
	margin-left: 24px
	width: 264px
div#column-right h2
	padding-bottom: 0.5em
	border-bottom: 1px solid rgba(0, 0, 0, 0.1)
	box-shadow: 0px 1px -1px 1px white
	margin-bottom: 0.3em


section#footer
	clear:both
	width: 100%
	height: 80px
	background-color: grey
	margin-top: 80px
	padding-top: 20px

/* POPUPS */
section.popup
	width: 200px
	z-index: 5
	position: absolute
	top: 40px
	background-color: grey
	display: none
section#popup-notifications
	left: 680px
section#popup-messages
	left: 680px
section#popup-dates
	left: 680px


/* USER MODULES */
div.user-preview
	float:left
	width: 328px
div.user-preview img
	float: left
	margin-bottom: 20px

div.small img, div.medium img
	width: 104px
	height: 104px

div.tiny img, ul.tiny img
	float: left
	width: 60px
	height: 60px
div.tiny p
	float: left
	width: 196px

/* INDEX SPECIFIC */
div#column-left div#welcome-message
	width: 416px
	float: left
div#column-left div#facebook-ad
	float: left
	width: 240px
div#column-left div#facebook-ad img
	float: left
	width: 60px
	height: 60px

div.match-preview
	width: 328px
	float: left
div.match-preview a
	display: inline-block
