@font-face
    font-family 'BariolBold'
    src url('fonts/bariol_bold.eot')
    src url('fonts/bariol_bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/bariol_bold.woff') format('woff'),
         url('fonts/bariol_bold.ttf') format('truetype'),
         url('fonts/bariol_bold.svg#BariolBold') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'BariolLight'
    src url('bariol_light.eot')
    src url('bariol_light.eot?#iefix') format('embedded-opentype'),
         url('bariol_light.woff') format('woff'),
         url('bariol_light.ttf') format('truetype'),
         url('bariol_light.svg#BariolLight') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'BariolRegular'
    src url('bariol_regular.eot')
    src url('bariol_regular.eot?#iefix') format('embedded-opentype'),
         url('bariol_regular.woff') format('woff'),
         url('bariol_regular.ttf') format('truetype'),
         url('bariol_regular.svg#BariolRegular') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'BariolThin'
    src url('bariol_thin.eot')
    src url('bariol_thin.eot?#iefix') format('embedded-opentype'),
         url('bariol_thin.woff') format('woff'),
         url('bariol_thin.ttf') format('truetype'),
         url('bariol_thin.svg#BariolThin') format('svg')
    font-weight normal
    font-style normal