section#footer
	background url('../img/bg_footer.jpg') #aaa repeat-x
	clear both
	font-size 0.8em
	width 100%

	menu
		margin 0
		padding 0

		li
			color #9f3647
			display inline-block
			padding 0 10px
			&:after
				content "|"
			&:last-child:after
				content ""

	small
		color #444444
		position absolute
		right 0
