*
	font-family 'BariolRegular', Helvetica, Arial, sans-serif
	box-sizing border-box

body
	font-size $base-font-size
	line-height 1.25  // 20 px
	background url('../img/bg.jpg') #efefef repeat

.wrapper
	position relative
	width $page-width
	margin 0 auto

section.main
	clear both
	font-size 0