div#column-left div.match-couple-tiny
	width 104px
	float left
	img	
		width 50px
		height 50px
	div
		position absolute
		z-index 1
		top 20px
		left 44px
		color purple
		font-size xx-large

div#column-left hr
	clear both
	color white
	border 0