$base-font-size = 16px //12pt

h1, h2, h3, h4, h5, h6
	margin 0
h1
	font-size 1.875em //30px
	color #a63e00

h2
	font-size 2em //24px
	text-transform uppercase
	color #62228f

h3
	font-size 1.25em //20px
	color #3f0a49

h4
	font-size 1.125em //18px
	color #000

h5
	font-size 1em //16px
	color #444

h6
	font-size 0.875em //14px
	color #666	

a
	color #a63e00
	text-decoration none

	.button
		clear both
		color white
		height 2em
		text-align center
		display block
		background-color blue
		border 1px solid black
ul

	li
		display inline-block
		float left

	.carousel
		width 100px
		margin 0 auto
		height 20px
		background-color grey
		clear both		

h2
	
	a.see-more
		font-size 0.6em
		text-transform none
		margin-left 0.3em
		font-weight normal

h3
	padding-top 10px